# Financial Markets Prices
---
### Autor: Diego Alegría   2023-02-24 v3
#### Basado en código de J Gonzalez
---
Código para obtener valores de ~ 257 precios relevantes para diversos reportes.
Utilizado todos los viernes después de que cierre la bolsa. (4 pm en Nueva York, 2 o 3 en Guate)

Usos primarios son un reporte semanal de Promerica el viernes, y para reporte de Commodities el lunes.

- Referencias para arreglo:
https://github.com/JECSand/yahoofinancials/blob/master/yahoofinancials/__init__.py
https://github.com/JECSand/yahoofinancials/issues/105
https://github.com/JECSand/yahoofinancials/commit/62119be23fe81f89fd5fb1bd450fc2088667c8df

---
### Instrucciones de actualizacion.

Solamente actualizar yahoofinancials con pip, El autor JECSand implementó los arreglos propuestos por GitHub.

- 257 precios son actualizados por medio de yahoofinancials.
- 10 variables son actualizadas manualmente, utilizando el excel Markets_Temporal.xlsx ubicado en DB\Weekly\Viernes Temporales\

Hay una seccion en este codigo al final que realiza el procesamiento para subir estas ultimas variables sin tener que abrir SQL.

# Importación de liberías

In [1]:
# !pip install yahoofinancials
# !pip install pyodbc

In [2]:
# import investpy
import datetime as dt
from datetime import datetime
import matplotlib.pyplot as plt
from matplotlib import style
import pandas as pd
import pandas_datareader.data as web
from yahoofinancials import YahooFinancials
from datetime import*
import urllib
import numpy as np
import time
import pyodbc
import traceback
import requests as requests
import numpy as np
import sys
from sqlalchemy import*

from pandas import Timestamp
style.use('ggplot')

#Fecha de actual: (Lugar para Hardcoded abajo)
fecha_inicial=datetime.today().strftime('%Y-%m-%d')
fecha_final=(datetime.today() + timedelta(days=1)).strftime('%Y-%m-%d')

# Funciones par SQL

Información importante sobre esta celda

- El código de lectura trae de regreso 3 querys que se utilizan en este notebook
  - El primer query trae de regreso la última fecha
  - El segundo trae una serie de fechas que son las necesarias obtener en la base de datos para homologar si se agrega un índice nuevo
  - El tercero es un sample para crear el frame que se subirá a la base de datos

---
# Lectura de Tickets ()

Si se agrega un nuevo índice se debe agregar a esta base de datos

In [3]:
#Lectura de indices utilizados para cada variable charl
# En Source se encuentra de donde se puede obtener
try:
    df=pd.read_excel(r'CARGA NUEVOS ETFs SQL 2020.xlsx',
#     df=pd.read_excel(r'C:\Users\lijv1.LINDA_HP\CABI\Data Bases - Documents\Weekly\CARGA NUEVOS ETFs SQL 2020.xlsx',
                  sheet_name='TickersDownload')
except:
    print('Falla encontrando archivo. Intentando por D. Alegria: ')
    df=pd.read_excel(r'C:\Users\aleja\CABI\Data Bases - Documentos\Weekly\CARGA NUEVOS ETFs SQL 2020.xlsx',
                  sheet_name='TickersDownload',usecols=np.arange(0,7))
display(df)

,IdTD,IdTicker,Source,Descripcion,IdIndiceEspecifico
0,$BCOM(D),AW=F,Yahoo,Blmbg Commodity Index,3006
1,$BCOMEN(D),$BCOMEN(D),Pendiente,Blmbg Energy Sub,3775
2,$BCOMGR(D),$BCOMGR(D),Investing,Blmbg Grains Subindex,3007
3,$BCOMIN(D),$BCOMIN(D),Investing,Blmbg Industrial Mtls Sub,3008
4,$BCOMPR(D),$BCOMPR(D),Investing,Blmbg Precious Metals Sub,3009
...,...,...,...,...,...
261,XRT(HB),XRT,Yahoo,SPDR S&P Retail,2964
262,ZO=F,ZO=F,Yahoo,Oats Continuous Contract [Sep21],3022
263,ZR=F,ZR=F,Yahoo,Rough Rice,3998
264,DC=F,DC=F,Yahoo,Class III Milk,4020
265,CSC=F,CSC=F,Yahoo,Cash-Settled Cheese,4021

## Filtro Manual de variables

In [4]:
def dia_y_mes_hoy():
    hoy = datetime.now()
    dia = hoy.day
    mes = hoy.month
    ano = hoy.year
    return dia, mes, ano

d, m, y = dia_y_mes_hoy()
print(d, m, y)

9 1 2026

In [5]:
# #Filtro de variables manual:

lista_manual = ['ERUS', 'RSX']

# #Fecha Manual (Cambiar a automático para tomar la fecha de hoy):
fecha_inicial=dt.datetime(y,m,d)
fecha_final=dt.datetime(y,12,31)

print(fecha_inicial)

2026-01-09 00:00:00

# Scrapper para Yahoo para Data TD

> Se recoge del DF anterior llamado donde están los indicadores todos aquellos donde su fuente es yahoo.com, se utiliza la librería de pandas Webreader para tomar la información.

> Debajo se crea un df_y que será el que va a contener la última lectura de cada mercado que se toma de yahoo finance y se le va agregando información que posteriormente será homologada a el formato que está en tabladatos

> Tiene un modo de fallo en donde se utiliza una vez falla la primera recolección de datos, utiliza una segunda oportunidad puesto que en el 99% de los casos itera dos veces y jala bien el indicador, si se quiere agregar más protección solo encerrar en un ciclo while, evitar usarlos por eficiencia.

In [6]:
## CELL DE INICIALIZACION Y DEFINICIONES
from tqdm.notebook import tqdm, trange     #Comentar si no se quiere utilizar progress bar
# from tqdm import tqdm, trange            #Progress bar alternativo

#Definicion de variables obtenidas desde yahoo
y=df[df['Source']=='Yahoo']
y.reset_index(inplace=True,drop=True)

#Construccion de dataframe contenedor
df_y=pd.DataFrame(columns=['IdIndiceEspecifico','Date', 'High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'
                           ,'Descripcion', 'IdTD','IdTicker','Source'])



import datetime as dt
import yfinance as yf



#Definicion de funciones para extraccion de datos del paquete bajado:
def unpack(initial, ind):
    precios = initial

    #print("PRECIOS", precios.columns)

    #display(precios)

#     display(precios.Date)
    #Extraccion de valores de precios:
    last = pd.DataFrame({'DatoFecha':[precios['Date'][0]]})
    last['D_Open'] = precios['Open']
    last['D_High'] = precios['High']
    last['D_Low'] = precios['Low']
    last['D_Close'] = precios['Close']
    last['D_Volume'] = precios['Volume']
    last['D_OpenInterest'] = precios['Adj Close']
#     if ('Adj Close', 'AW=F') in precios.columns:
#         last['D_OpenInterest'] = precios[('Adj Close', 'AW=F')]
#     else:
#         last['D_OpenInterest'] = 0  # O cualquier otro valor predeterminado
    #Extraccion de valores de formato:
    last['IdIndiceEspecifico']=ind.IdIndiceEspecifico
    last['Descripcion']=ind.Descripcion
    last['IdTD']=ind.IdTD
    last['IdTicker']=ind.IdTicker
    last['Source']=ind.Source
    return last


def downloading_yahoo(indice,fecha_i,fecha_f):
    ind = indice.IdTicker
    yahoo_financials = yf.download(ind, fecha_i, fecha_f, auto_adjust=False)
    if yahoo_financials.empty:
        raise ValueError("El DataFrame 'yahoo_financials' está vacío. Verifica la descarga de datos.")

    yahoo_financials.reset_index(inplace=True,drop=False)

    display(yahoo_financials)

    return unpack(yahoo_financials,indice)

# if 'lista_manual' in locals:
#     y_descarga=y[y.IdTicker.isin(lista)].copy()
#     y_descarga.reset_index(inplace=True)
# else:
y_descarga = y.copy()

# Quick test
idx=y.loc[0]
display(idx.IdTicker)
last = downloading_yahoo(idx, fecha_inicial, fecha_final)
last

'AW=F'

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,AW=F,AW=F,AW=F,AW=F,AW=F,AW=F
0,2026-01-09,112.110001,112.110001,112.809998,112.110001,112.419998,207

,DatoFecha,D_Open,D_High,D_Low,D_Close,D_Volume,D_OpenInterest,IdIndiceEspecifico,Descripcion,IdTD,IdTicker,Source
0,2026-01-09,112.419998,112.809998,112.110001,112.110001,207,112.110001,3006,Blmbg Commodity Index,$BCOM(D),AW=F,Yahoo

In [7]:
y_descarga

,IdTD,IdTicker,Source,Descripcion,IdIndiceEspecifico
0,$BCOM(D),AW=F,Yahoo,Blmbg Commodity Index,3006
1,$COMPX,^IXIC,Yahoo,Nasdaq Composite Index,2990
2,$INX,^GSPC,Yahoo,S&P 500 Index,2986
3,@C(D),ZC=F,Yahoo,Corn Continuous Contract [Sep21],3011
4,@CC(D),CC=F,Yahoo,Cocoa Continuous Contract [Sep21],3012
...,...,...,...,...,...
254,XRT(HB),XRT,Yahoo,SPDR S&P Retail,2964
255,ZO=F,ZO=F,Yahoo,Oats Continuous Contract [Sep21],3022
256,ZR=F,ZR=F,Yahoo,Rough Rice,3998
257,DC=F,DC=F,Yahoo,Class III Milk,4020
258,CSC=F,CSC=F,Yahoo,Cash-Settled Cheese,4021

In [60]:
## DESCARGA COMPLETA de YAHOO
missing = [] #Indices de faltantes
a_juntar = [] #Variable para juntar dataframes
espera = 1 # seg
retries = 3

for i in trange(len(y_descarga)):     #Reemplazar con range si no se quiere utilizar progress bar
# for i in range(0,1):
    #Procesamiento original
    idx=y_descarga.loc[i]
#     display(idx.IdTicker)
    n=0
    #Intentos de descarga:
    for n in range(retries):
        try:     #1er Intento
            #Usando funciones definidas
            last = downloading_yahoo(idx, fecha_inicial, fecha_final)
            #Agregar y esperar para debugging
            a_juntar.append(last)
            time.sleep(espera)
            break #EXITO, pasar a siguiente indice.
        except:   #Segundo intento en caso de falla
            print('Fallo con Ticker')
            time.sleep(espera)
            print('Entrando en modo de fallo')
            if n == retries-1:
                display(idx.IdTicker)
                missing.append(idx.IdTicker)

#Construir data frame final.
df_y = pd.concat(a_juntar)
display(missing)
df_y

  0%|          | 0/259 [00:00<?, ?it/s]

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,AW=F,AW=F,AW=F,AW=F,AW=F,AW=F
0,2025-11-28,110.410004,110.410004,110.68,109.160004,108.080002,374

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,^IXIC,^IXIC,^IXIC,^IXIC,^IXIC,^IXIC
0,2025-11-28,23365.689453,23365.689453,23365.789062,23250.509766,23291.589844,4541070000

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,^GSPC,^GSPC,^GSPC,^GSPC,^GSPC,^GSPC
0,2025-11-28,6849.089844,6849.089844,6850.859863,6819.75,6822.52002,2558540000

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close   Close   High    Low   Open Volume
Ticker                 ZC=F    ZC=F   ZC=F   ZC=F   ZC=F   ZC=F
0      2025-11-28    447.75  447.75  448.5  443.5  423.0  78853

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['CC=F']: YFPricesMissingError('possibly delisted; no price data found  (1d 2025-11-28 00:00:00 -> 2025-12-31 00:00:00)')

Fallo con Ticker
Entrando en modo de fallo

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['CC=F']: YFPricesMissingError('possibly delisted; no price data found  (1d 2025-11-28 00:00:00 -> 2025-12-31 00:00:00)')

Fallo con Ticker
Entrando en modo de fallo

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['CC=F']: YFPricesMissingError('possibly delisted; no price data found  (1d 2025-11-28 00:00:00 -> 2025-12-31 00:00:00)')

Fallo con Ticker
Entrando en modo de fallo

'CC=F'

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close       High    Low       Open  Volume
Ticker                  CL=F       CL=F       CL=F   CL=F       CL=F    CL=F
0      2025-11-28  58.549999  58.549999  59.639999  58.27  58.580002  138365

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close       High        Low       Open Volume
Ticker                 CT=F   CT=F       CT=F       CT=F       CT=F   CT=F
0      2025-11-28     62.91  62.91  64.949997  64.419998  64.230003  12848

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,DX=F,DX=F,DX=F,DX=F,DX=F,DX=F
0,2025-11-28,99.407997,99.407997,99.779999,99.324997,99.540001,13371

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,GC=F,GC=F,GC=F,GC=F,GC=F,GC=F
0,2025-11-28,4218.299805,4218.299805,4223.899902,4174.600098,4163.399902,149887

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close   Close   High    Low    Open Volume
Ticker                 HG=F    HG=F   HG=F   HG=F    HG=F   HG=F
0      2025-11-28    5.1855  5.1855  5.215  5.055  5.1195  31863

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close   High     Low    Open Volume
Ticker                 HO=F   HO=F   HO=F    HO=F    HO=F   HO=F
0      2025-11-28     2.333  2.333  2.351  2.2624  2.2684  18362

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close        High         Low   Open Volume
Ticker                 KC=F   KC=F        KC=F        KC=F   KC=F   KC=F
0      2025-11-28     364.0  364.0  368.200012  360.799988  412.5   8481

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,LE=F,LE=F,LE=F,LE=F,LE=F,LE=F
0,2025-11-28,217.850006,217.850006,219.074997,213.274994,208.425003,8755

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,HE=F,HE=F,HE=F,HE=F,HE=F,HE=F
0,2025-11-28,80.599998,80.599998,82.275002,80.800003,79.050003,14617

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close Close   High    Low   Open  Volume
Ticker                 NG=F  NG=F   NG=F   NG=F   NG=F    NG=F
0      2025-11-28      4.85  4.85  4.871  4.527  4.618  118167

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,OJ=F,OJ=F,OJ=F,OJ=F,OJ=F,OJ=F
0,2025-11-28,156.050003,156.050003,158.149994,148.399994,142.75,732

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close    Close     High      Low    Open Volume
Ticker                 ZS=F     ZS=F     ZS=F     ZS=F    ZS=F   ZS=F
0      2025-11-28   1137.75  1137.75  1138.75  1129.75  1125.5  33561

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close   High    Low  Open Volume
Ticker                 SB=F   SB=F   SB=F   SB=F  SB=F   SB=F
0      2025-11-28     14.73  14.73  14.82  14.62  14.9  18982

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,SI=F,SI=F,SI=F,SI=F,SI=F,SI=F
0,2025-11-28,57.162998,57.162998,57.244999,52.549999,53.075001,95722

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close    High     Low   Open Volume
Ticker                 ZW=F   ZW=F    ZW=F    ZW=F   ZW=F   ZW=F
0      2025-11-28     531.0  531.0  532.25  527.25  538.5  21887

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,AAXJ,AAXJ,AAXJ,AAXJ,AAXJ,AAXJ
0,2025-11-28,92.660004,92.660004,92.730003,92.239998,92.330002,184700

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close       High        Low       Open  Volume
Ticker                 ARGT   ARGT       ARGT       ARGT       ARGT    ARGT
0      2025-11-28     93.18  93.18  93.370003  91.400002  92.120003  211200

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close       High        Low   Open  Volume
Ticker                  ARKF       ARKF       ARKF       ARKF   ARKF    ARKF
0      2025-11-28  49.580002  49.580002  49.794998  49.099998  49.32  170856

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close       High    Low  Open   Volume
Ticker                  ARKG       ARKG       ARKG   ARKG  ARKG     ARKG
0      2025-11-28  31.190001  31.190001  31.190001  30.65  31.0  1111756

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close       High        Low       Open   Volume
Ticker                 ARKK   ARKK       ARKK       ARKK       ARKK     ARKK
0      2025-11-28     79.68  79.68  79.800003  78.650002  79.040001  3346976

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,ARKW,ARKW,ARKW,ARKW,ARKW,ARKW
0,2025-11-28,152.399994,152.399994,152.860001,151.375,151.399994,52060

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,ASHR,ASHR,ASHR,ASHR,ASHR,ASHR
0,2025-11-28,32.580002,32.580002,32.610001,32.474998,32.459999,3527382

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close Close   High    Low   Open    Volume
Ticker                 BITO  BITO   BITO   BITO   BITO      BITO
0      2025-11-28      14.2  14.2  14.58  14.13  14.56  15863131

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,BJK,BJK,BJK,BJK,BJK,BJK
0,2025-11-28,42.380001,42.380001,42.380001,42.080002,42.220001,1800

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close       High        Low  Open  Volume
Ticker                  BLOK       BLOK       BLOK       BLOK  BLOK    BLOK
0      2025-11-28  62.580002  62.580002  63.220001  61.863602  62.0  249156

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,BND,BND,BND,BND,BND,BND
0,2025-11-28,74.779999,74.779999,74.879997,74.709999,74.860001,4812100

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close   High   Low  Open  Volume
Ticker                  BNO    BNO    BNO   BNO   BNO     BNO
0      2025-11-28     29.17  29.17  29.25  28.9  28.9  418300

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close     High        Low       Open  Volume
Ticker                  BOTZ       BOTZ     BOTZ       BOTZ       BOTZ    BOTZ
0      2025-11-28  35.169998  35.169998  35.2565  35.080002  35.110001  276307

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close   High        Low       Open Volume
Ticker                  CARZ       CARZ   CARZ       CARZ       CARZ   CARZ
0      2025-11-28  76.099998  76.099998  76.32  75.699997  75.699997   1200

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close       High    Low       Open Volume
Ticker                   CGW        CGW        CGW    CGW        CGW    CGW
0      2025-11-28  64.480003  64.480003  64.489998  64.25  64.349998  10600

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close       High        Low       Open Volume
Ticker                 CHIQ   CHIQ       CHIQ       CHIQ       CHIQ   CHIQ
0      2025-11-28     22.09  22.09  22.190001  21.969999  22.129999  72000

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,CIBR,CIBR,CIBR,CIBR,CIBR,CIBR
0,2025-11-28,73.650002,73.650002,73.790001,73.239998,73.419998,293896

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close       High    Low       Open   Volume
Ticker                  COPX       COPX       COPX   COPX       COPX     COPX
0      2025-11-28  64.300003  64.300003  64.580002  63.43  63.650002  2151200

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,CQQQ,CQQQ,CQQQ,CQQQ,CQQQ,CQQQ
0,2025-11-28,52.619999,52.619999,52.700001,52.400002,52.540001,256800

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close       High    Low   Open Volume
Ticker                   CUT        CUT        CUT    CUT    CUT    CUT
0      2025-11-28  28.950001  28.950001  28.950001  28.84  28.84   1000

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close       High        Low       Open  Volume
Ticker                  CWB    CWB        CWB        CWB        CWB     CWB
0      2025-11-28     90.57  90.57  90.620003  89.709999  89.709999  165500

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close   High    Low   Open  Volume
Ticker                  DBA    DBA    DBA    DBA    DBA     DBA
0      2025-11-28     26.42  26.42  26.43  26.18  26.18  115800

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close   High    Low       Open  Volume
Ticker                   DBC        DBC    DBC    DBC        DBC     DBC
0      2025-11-28  23.059999  23.059999  23.09  22.92  22.940001  236100

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,DBE,DBE,DBE,DBE,DBE,DBE
0,2025-11-28,19.040001,19.040001,19.040001,18.889999,18.889999,4300

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,DFJ,DFJ,DFJ,DFJ,DFJ,DFJ
0,2025-11-28,95.739998,95.739998,95.830002,95.559998,95.629997,1900

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,DIA,DIA,DIA,DIA,DIA,DIA
0,2025-11-28,477.179993,477.179993,477.609985,474.820007,474.820007,2281800

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close   High        Low       Open Volume
Ticker                  DJP    DJP    DJP        DJP        DJP    DJP
0      2025-11-28     37.82  37.82  37.84  37.490002  37.740002  28300

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close   High        Low       Open Volume
Ticker                  DRIV       DRIV   DRIV       DRIV       DRIV   DRIV
0      2025-11-28  29.482201  29.482201  29.49  29.219999  29.219999  35036

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close       High    Low  Open  Volume
Ticker                   ECH        ECH        ECH    ECH   ECH     ECH
0      2025-11-28  37.860001  37.860001  38.040001  37.77  38.0  858600

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close       High        Low       Open Volume
Ticker                 ECON   ECON       ECON       ECON       ECON   ECON
0      2025-11-28     27.18  27.18  27.219999  27.120001  27.120001   8200

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,EDEN,EDEN,EDEN,EDEN,EDEN,EDEN
0,2025-11-28,111.186996,111.186996,111.154999,110.724998,111.150002,3362

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close       High        Low   Open    Volume
Ticker                  EEM    EEM        EEM        EEM    EEM       EEM
0      2025-11-28     54.32  54.32  54.369999  54.119999  54.16  15057500

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,EFA,EFA,EFA,EFA,EFA,EFA
0,2025-11-28,95.190002,95.190002,95.220001,94.739998,94.839996,8136000

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,EFG,EFG,EFG,EFG,EFG,EFG
0,2025-11-28,114.050003,114.050003,114.099998,113.489998,113.620003,568400

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close       High        Low   Open Volume
Ticker                  EFNL       EFNL       EFNL       EFNL   EFNL   EFNL
0      2025-11-28  45.517899  45.517899  45.517899  45.517899  45.43    579

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,EFV,EFV,EFV,EFV,EFV,EFV
0,2025-11-28,70.269997,70.269997,70.309998,69.989998,70.110001,1450600

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['EGPT']: YFPricesMissingError('possibly delisted; no price data found  (1d 2025-11-28 00:00:00 -> 2025-12-31 00:00:00)')

Fallo con Ticker
Entrando en modo de fallo

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['EGPT']: YFPricesMissingError('possibly delisted; no price data found  (1d 2025-11-28 00:00:00 -> 2025-12-31 00:00:00)')

Fallo con Ticker

[*********************100%***********************]  1 of 1 completed

Entrando en modo de fallo

1 Failed download:
['EGPT']: YFPricesMissingError('possibly delisted; no price data found  (1d 2025-11-28 00:00:00 -> 2025-12-31 00:00:00)')

Fallo con Ticker
Entrando en modo de fallo

'EGPT'

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close   High        Low       Open  Volume
Ticker                 EIDO   EIDO   EIDO       EIDO       EIDO    EIDO
0      2025-11-28     18.67  18.67  18.68  18.559999  18.610001  221700

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,EIRL,EIRL,EIRL,EIRL,EIRL,EIRL
0,2025-11-28,72.839996,72.839996,72.839996,72.160004,72.160004,1500

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,EIS,EIS,EIS,EIS,EIS,EIS
0,2025-11-28,103.760002,103.760002,103.860001,103.160004,103.459999,39800

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close       High        Low   Open   Volume
Ticker                   EMB        EMB        EMB        EMB    EMB      EMB
0      2025-11-28  96.730003  96.730003  96.800003  96.610001  96.75  2628400

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close Close  High        Low       Open   Volume
Ticker                 EMLC  EMLC  EMLC       EMLC       EMLC     EMLC
0      2025-11-28      25.6  25.6  25.6  25.549999  25.549999  1111900

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close       High        Low       Open Volume
Ticker                 EMQQ   EMQQ       EMQQ       EMQQ       EMQQ   EMQQ
0      2025-11-28     42.73  42.73  42.791599  42.700001  42.650002   7687

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close       High        Low       Open  Volume
Ticker                 EMXC   EMXC       EMXC       EMXC       EMXC    EMXC
0      2025-11-28     71.18  71.18  71.209999  70.860001  70.970001  194556

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,ENZL,ENZL,ENZL,ENZL,ENZL,ENZL
0,2025-11-28,45.630001,45.630001,45.630001,45.060001,45.470001,3000

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close   High    Low   Open  Volume
Ticker                  EPHE       EPHE   EPHE   EPHE   EPHE    EPHE
0      2025-11-28  25.209999  25.209999  25.23  25.01  25.01  171400

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close   High        Low       Open  Volume
Ticker                 EPOL   EPOL   EPOL       EPOL       EPOL    EPOL
0      2025-11-28     34.07  34.07  34.09  33.799999  33.889999  116900

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,EPU,EPU,EPU,EPU,EPU,EPU
0,2025-11-28,64.470001,64.470001,64.959999,64.089996,64.089996,18500

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['ERUS']: YFPricesMissingError('possibly delisted; no price data found  (1d 2025-11-28 00:00:00 -> 2025-12-31 00:00:00)')

Fallo con Ticker
Entrando en modo de fallo

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['ERUS']: YFPricesMissingError('possibly delisted; no price data found  (1d 2025-11-28 00:00:00 -> 2025-12-31 00:00:00)')

Fallo con Ticker
Entrando en modo de fallo

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['ERUS']: YFPricesMissingError('possibly delisted; no price data found  (1d 2025-11-28 00:00:00 -> 2025-12-31 00:00:00)')

Fallo con Ticker
Entrando en modo de fallo

'ERUS'

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close Close   High        Low       Open  Volume
Ticker                 EUFN  EUFN   EUFN       EUFN       EUFN    EUFN
0      2025-11-28      35.0  35.0  35.02  34.860001  34.950001  285700

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close     Close      High       Low      Open   Volume
Ticker             EURUSD=X  EURUSD=X  EURUSD=X  EURUSD=X  EURUSD=X EURUSD=X
0      2025-11-28  1.159985  1.159985  1.160672  1.155735  1.160025        0

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close  High    Low   Open   Volume
Ticker                  EWA    EWA   EWA    EWA    EWA      EWA
0      2025-11-28     25.85  25.85  25.9  25.75  25.76  1440600

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close       High    Low       Open  Volume
Ticker                   EWC        EWC        EWC    EWC        EWC     EWC
0      2025-11-28  52.700001  52.700001  52.759998  52.34  52.450001  910400

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close  High    Low   Open Volume
Ticker                  EWD    EWD   EWD    EWD    EWD    EWD
0      2025-11-28     47.91  47.91  48.0  47.59  47.59  50400

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,EWG,EWG,EWG,EWG,EWG,EWG
0,2025-11-28,40.919998,40.919998,40.919998,40.700001,40.740002,1289400

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['EWGS']: YFPricesMissingError('possibly delisted; no price data found  (1d 2025-11-28 00:00:00 -> 2025-12-31 00:00:00)')

Fallo con Ticker
Entrando en modo de fallo

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['EWGS']: YFPricesMissingError('possibly delisted; no price data found  (1d 2025-11-28 00:00:00 -> 2025-12-31 00:00:00)')

Fallo con Ticker
Entrando en modo de fallo

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['EWGS']: YFPricesMissingError('possibly delisted; no price data found  (1d 2025-11-28 00:00:00 -> 2025-12-31 00:00:00)')

Fallo con Ticker
Entrando en modo de fallo

'EWGS'

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close   High    Low   Open   Volume
Ticker                  EWH    EWH    EWH    EWH    EWH      EWH
0      2025-11-28     22.24  22.24  22.25  22.16  22.18  1071800

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close       High        Low       Open  Volume
Ticker                  EWI    EWI        EWI        EWI        EWI     EWI
0      2025-11-28     52.93  52.93  52.939999  52.639999  52.639999  176900

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close       High    Low       Open   Volume
Ticker                   EWJ        EWJ        EWJ    EWJ        EWJ      EWJ
0      2025-11-28  83.010002  83.010002  83.040001  82.75  82.839996  2711800

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,EWK,EWK,EWK,EWK,EWK,EWK
0,2025-11-28,24.280001,24.280001,24.360001,24.200001,24.360001,9000

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close   High    Low       Open  Volume
Ticker                  EWL    EWL    EWL    EWL        EWL     EWL
0      2025-11-28     57.82  57.82  57.84  57.43  57.529999  256800

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close       High        Low       Open  Volume
Ticker                  EWM    EWM        EWM        EWM        EWM     EWM
0      2025-11-28     26.43  26.43  26.459999  26.280001  26.280001  262300

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,EWN,EWN,EWN,EWN,EWN,EWN
0,2025-11-28,58.169998,58.169998,58.169998,57.689999,57.779999,10300

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close Close  High    Low       Open Volume
Ticker                  EWO   EWO   EWO    EWO        EWO    EWO
0      2025-11-28      33.0  33.0  33.0  32.77  32.860001  24900

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close       High        Low       Open  Volume
Ticker                  EWP    EWP        EWP        EWP        EWP     EWP
0      2025-11-28     51.66  51.66  51.689999  51.380001  51.400002  694800

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close       High    Low       Open Volume
Ticker                  EWQ    EWQ        EWQ    EWQ        EWQ    EWQ
0      2025-11-28     44.57  44.57  44.619999  44.32  44.400002  85700

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close   High    Low       Open  Volume
Ticker                   EWS        EWS    EWS    EWS        EWS     EWS
0      2025-11-28  28.389999  28.389999  28.43  28.18  28.209999  577600

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,EWT,EWT,EWT,EWT,EWT,EWT
0,2025-11-28,64.510002,64.510002,64.540001,64.120003,64.370003,4233300

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,EWU,EWU,EWU,EWU,EWU,EWU
0,2025-11-28,43.150002,43.150002,43.220001,43.009998,43.040001,718200

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,EWUS,EWUS,EWUS,EWUS,EWUS,EWUS
0,2025-11-28,41.099998,41.099998,41.099998,40.889999,40.889999,5492

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,EWW,EWW,EWW,EWW,EWW,EWW
0,2025-11-28,68.419998,68.419998,68.540001,67.290001,67.599998,543500

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close       High   Low       Open   Volume
Ticker                   EWY        EWY        EWY   EWY        EWY      EWY
0      2025-11-28  90.870003  90.870003  91.010002  90.5  90.529999  2704900

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close       High        Low   Open    Volume
Ticker                   EWZ        EWZ        EWZ        EWZ    EWZ       EWZ
0      2025-11-28  33.610001  33.610001  33.669998  33.439999  33.59  15012400

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close   High   Low   Open  Volume
Ticker                 EWZS   EWZS   EWZS  EWZS   EWZS    EWZS
0      2025-11-28     14.16  14.16  14.18  14.0  14.04  341400

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close  High        Low  Open  Volume
Ticker                   EZA        EZA   EZA        EZA   EZA     EZA
0      2025-11-28  66.739998  66.739998  67.0  66.449997  67.0  260300

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close       High        Low       Open Volume
Ticker                 FCOM   FCOM       FCOM       FCOM       FCOM   FCOM
0      2025-11-28     72.25  72.25  72.269997  71.800003  71.870003  48870

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,FDN,FDN,FDN,FDN,FDN,FDN
0,2025-11-28,270.160004,270.160004,270.230011,268.299988,268.320007,523900

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close    Close   High      Low   Open Volume
Ticker                 FINX     FINX   FINX     FINX   FINX   FINX
0      2025-11-28   30.6759  30.6759  30.73  30.2001  30.23  27625

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close   High        Low       Open  Volume
Ticker                 FLOT   FLOT   FLOT       FLOT       FLOT    FLOT
0      2025-11-28     51.07  51.07  51.07  51.040001  51.040001  963100

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close    Close       High    Low   Open Volume
Ticker                 FTXG     FTXG       FTXG   FTXG   FTXG   FTXG
0      2025-11-28   21.8573  21.8573  21.879999  21.77  21.77  27181

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,FXB,FXB,FXB,FXB,FXB,FXB
0,2025-11-28,127.360001,127.360001,127.510002,127.169998,127.169998,3500

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,FXE,FXE,FXE,FXE,FXE,FXE
0,2025-11-28,107.089996,107.089996,107.099998,106.800003,106.82,48700

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close       High    Low   Open    Volume
Ticker                   FXI        FXI        FXI    FXI    FXI       FXI
0      2025-11-28  39.529999  39.529999  39.619999  39.41  39.43  11699800

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close       High    Low       Open  Volume
Ticker                   FXY        FXY        FXY    FXY        FXY     FXY
0      2025-11-28  58.919998  58.919998  58.970001  58.82  58.860001  193400

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close     Close      High       Low      Open   Volume
Ticker             GBPUSD=X  GBPUSD=X  GBPUSD=X  GBPUSD=X  GBPUSD=X GBPUSD=X
0      2025-11-28  1.324118  1.324118  1.325082  1.320184  1.324135        0

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,GDX,GDX,GDX,GDX,GDX,GDX
0,2025-11-28,83.230003,83.230003,83.279999,81.769997,82.260002,15906800

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close   High    Low       Open Volume
Ticker                  GII    GII    GII    GII        GII    GII
0      2025-11-28     71.82  71.82  71.82  71.25  71.330002  13100

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,GLTR,GLTR,GLTR,GLTR,GLTR,GLTR
0,2025-11-28,186.490005,186.490005,186.490005,183.559998,183.940002,148600

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close   High    Low   Open Volume
Ticker                   GNR        GNR    GNR    GNR    GNR    GNR
0      2025-11-28  61.060001  61.060001  61.23  60.82  60.91  66400

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close       High        Low       Open  Volume
Ticker                 GREK   GREK       GREK       GREK       GREK    GREK
0      2025-11-28     65.32  65.32  65.639999  64.559998  65.639999  113100

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['GRES']: YFPricesMissingError('possibly delisted; no price data found  (1d 2025-11-28 00:00:00 -> 2025-12-31 00:00:00)')

Fallo con Ticker
Entrando en modo de fallo

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['GRES']: YFPricesMissingError('possibly delisted; no price data found  (1d 2025-11-28 00:00:00 -> 2025-12-31 00:00:00)')

Fallo con Ticker

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['GRES']: YFPricesMissingError('possibly delisted; no price data found  (1d 2025-11-28 00:00:00 -> 2025-12-31 00:00:00)')

Entrando en modo de fallo
Fallo con Ticker
Entrando en modo de fallo

'GRES'

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close       High        Low       Open Volume
Ticker                  GXC    GXC        GXC        GXC        GXC    GXC
0      2025-11-28     99.57  99.57  99.690002  99.239998  99.239998   3300

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['GXG']: YFPricesMissingError('possibly delisted; no price data found  (1d 2025-11-28 00:00:00 -> 2025-12-31 00:00:00)')

Fallo con Ticker
Entrando en modo de fallo

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['GXG']: YFPricesMissingError('possibly delisted; no price data found  (1d 2025-11-28 00:00:00 -> 2025-12-31 00:00:00)')

Fallo con Ticker
Entrando en modo de fallo

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['GXG']: YFPricesMissingError('possibly delisted; no price data found  (1d 2025-11-28 00:00:00 -> 2025-12-31 00:00:00)')

Fallo con Ticker
Entrando en modo de fallo

'GXG'

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close       High    Low       Open   Volume
Ticker                   HST        HST        HST    HST        HST      HST
0      2025-11-28  17.629999  17.629999  17.870001  17.58  17.719999  4331500

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close   High    Low   Open  Volume
Ticker                   HYD        HYD    HYD    HYD    HYD     HYD
0      2025-11-28  51.099998  51.099998  51.18  51.07  51.18  246200

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close   High        Low  Open    Volume
Ticker                   HYG        HYG    HYG        HYG   HYG       HYG
0      2025-11-28  80.989998  80.989998  81.07  80.940002  81.0  29430800

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,IAI,IAI,IAI,IAI,IAI,IAI
0,2025-11-28,175.770004,175.770004,176.559998,175.160004,175.25,19400

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,IAU,IAU,IAU,IAU,IAU,IAU
0,2025-11-28,79.410004,79.410004,79.419998,78.839996,79.050003,6228400

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,IBB,IBB,IBB,IBB,IBB,IBB
0,2025-11-28,173.830002,173.830002,174.399994,172.839996,174.139999,1007100

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close Close       High        Low       Open   Volume
Ticker                  IEF   IEF        IEF        IEF        IEF      IEF
0      2025-11-28      97.5  97.5  97.650002  97.389999  97.629997  7798000

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,IEV,IEV,IEV,IEV,IEV,IEV
0,2025-11-28,66.989998,66.989998,67.080002,66.690002,66.690002,117500

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,IGF,IGF,IGF,IGF,IGF,IGF
0,2025-11-28,63.060001,63.060001,63.119999,62.610001,62.709999,248700

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close   High        Low       Open   Volume
Ticker                  IGLB       IGLB   IGLB       IGLB       IGLB     IGLB
0      2025-11-28  51.619999  51.619999  51.73  51.490002  51.700001  1195600

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close       High    Low       Open   Volume
Ticker                  IGSB       IGSB       IGSB   IGSB       IGSB     IGSB
0      2025-11-28  53.110001  53.110001  53.150002  53.09  53.139999  1180800

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,IGV,IGV,IGV,IGV,IGV,IGV
0,2025-11-28,104.089996,104.089996,104.169998,103.209999,103.25,2751100

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,IHI,IHI,IHI,IHI,IHI,IHI
0,2025-11-28,64.360001,64.360001,64.470001,64.120003,64.290001,283900

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,IJJ,IJJ,IJJ,IJJ,IJJ,IJJ
0,2025-11-28,131.990005,131.990005,132.210007,131.479996,131.729996,45800

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,IJK,IJK,IJK,IJK,IJK,IJK
0,2025-11-28,97.370003,97.370003,97.440002,96.830002,97.150002,54000

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,IJR,IJR,IJR,IJR,IJR,IJR
0,2025-11-28,120.870003,120.870003,121.080002,120.559998,120.970001,2617800

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,IJS,IJS,IJS,IJS,IJS,IJS
0,2025-11-28,113.360001,113.360001,113.470001,113.010002,113.440002,79300

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,IJT,IJT,IJT,IJT,IJT,IJT
0,2025-11-28,143.080002,143.080002,143.360001,142.630005,143.360001,31100

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close   High        Low       Open   Volume
Ticker                  ILF    ILF    ILF        ILF        ILF      ILF
0      2025-11-28     31.15  31.15  31.23  30.950001  31.049999  1194000

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close Close   High        Low       Open Volume
Ticker                 INCO  INCO   INCO       INCO       INCO   INCO
0      2025-11-28      65.5  65.5  65.57  65.150002  65.150002  12600

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close       High     Low       Open   Volume
Ticker                  INDA       INDA       INDA    INDA       INDA     INDA
0      2025-11-28  54.709999  54.709999  54.830002  54.555  54.610001  3992690

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,IPAY,IPAY,IPAY,IPAY,IPAY,IPAY
0,2025-11-28,52.219799,52.219799,52.365002,51.811298,51.689999,5941

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,ITA,ITA,ITA,ITA,ITA,ITA
0,2025-11-28,205.100006,205.100006,205.179993,203.539993,204.169998,135800

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,ITB,ITB,ITB,ITB,ITB,ITB
0,2025-11-28,103.910004,103.910004,104.120003,103.440002,104.099998,676600

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,ITEQ,ITEQ,ITEQ,ITEQ,ITEQ,ITEQ
0,2025-11-28,55.839298,55.839298,55.839298,55.839298,55.389999,696

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,IVE,IVE,IVE,IVE,IVE,IVE
0,2025-11-28,212.419998,212.419998,212.419998,211.070007,211.149994,313400

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,IVW,IVW,IVW,IVW,IVW,IVW
0,2025-11-28,123.610001,123.610001,123.610001,123.120003,123.300003,1328900

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,IWB,IWB,IWB,IWB,IWB,IWB
0,2025-11-28,374.440002,374.440002,374.640015,372.859985,373.029999,1007800

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,IWD,IWD,IWD,IWD,IWD,IWD
0,2025-11-28,209.979996,209.979996,210.179993,208.710007,208.940002,4427200

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,IWF,IWF,IWF,IWF,IWF,IWF
0,2025-11-28,476.450012,476.450012,476.649994,474.320007,475.190002,1148700

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,IWM,IWM,IWM,IWM,IWM,IWM
0,2025-11-28,248.75,248.75,248.809998,247.070007,248.009995,18911800

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,IWN,IWN,IWN,IWN,IWN,IWN
0,2025-11-28,182.229996,182.229996,182.309998,181.300003,181.740005,350800

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,IWO,IWO,IWO,IWO,IWO,IWO
0,2025-11-28,328.119995,328.119995,328.390015,325.799988,327.140015,207600

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,IWP,IWP,IWP,IWP,IWP,IWP
0,2025-11-28,138.800003,138.800003,139.25,138.050003,138.419998,492500

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close   High        Low       Open   Volume
Ticker                   IWR        IWR    IWR        IWR        IWR      IWR
0      2025-11-28  96.949997  96.949997  97.18  96.470001  96.629997  1440800

[*********************100%***********************]  1 of 1 completed

Price        Date   Adj Close       Close        High    Low    Open  Volume
Ticker                    IWS         IWS         IWS    IWS     IWS     IWS
0      2025-11-28  141.520004  141.520004  141.960007  141.0  141.25  181100

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,IWV,IWV,IWV,IWV,IWV,IWV
0,2025-11-28,388.140015,388.140015,388.140015,386.359985,386.679993,85500

[*********************100%***********************]  1 of 1 completed

Price        Date   Adj Close       Close    High     Low    Open Volume
Ticker                    IXG         IXG     IXG     IXG     IXG    IXG
0      2025-11-28  116.910004  116.910004  117.07  116.25  116.25   8800

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,IXJ,IXJ,IXJ,IXJ,IXJ,IXJ
0,2025-11-28,98.720001,98.720001,98.980003,98.300003,98.910004,90600

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close   High         Low        Open  Volume
Ticker                  IXN    IXN    IXN         IXN         IXN     IXN
0      2025-11-28     104.5  104.5  104.5  103.669998  103.839996  452400

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,IXP,IXP,IXP,IXP,IXP,IXP
0,2025-11-28,124.620003,124.620003,124.860001,124.059998,124.269997,26100

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,IYC,IYC,IYC,IYC,IYC,IYC
0,2025-11-28,102.660004,102.660004,102.809998,102.139999,102.139999,21000

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,IYF,IYF,IYF,IYF,IYF,IYF
0,2025-11-28,125.970001,125.970001,126.480003,125.379997,125.410004,146300

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,IYT,IYT,IYT,IYT,IYT,IYT
0,2025-11-28,72.980003,72.980003,73.199997,72.540001,72.620003,310400

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close   High    Low   Open  Volume
Ticker                  IYZ    IYZ    IYZ    IYZ    IYZ     IYZ
0      2025-11-28     32.77  32.77  32.77  32.41  32.52  464400

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close       High        Low       Open   Volume
Ticker                 JAAA   JAAA       JAAA       JAAA       JAAA     JAAA
0      2025-11-28     50.73  50.73  50.740002  50.700001  50.709999  1554449

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close       High        Low   Open   Volume
Ticker                  JETS       JETS       JETS       JETS   JETS     JETS
0      2025-11-28  26.309999  26.309999  26.459999  26.235001  26.26  1708727

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['JJU']: YFPricesMissingError('possibly delisted; no price data found  (1d 2025-11-28 00:00:00 -> 2025-12-31 00:00:00)')

Fallo con Ticker
Entrando en modo de fallo

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['JJU']: YFPricesMissingError('possibly delisted; no price data found  (1d 2025-11-28 00:00:00 -> 2025-12-31 00:00:00)')

Fallo con Ticker
Entrando en modo de fallo

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['JJU']: YFPricesMissingError('possibly delisted; no price data found  (1d 2025-11-28 00:00:00 -> 2025-12-31 00:00:00)')

Fallo con Ticker
Entrando en modo de fallo

'JJU'

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,JXI,JXI,JXI,JXI,JXI,JXI
0,2025-11-28,81.860001,81.860001,81.889999,81.419998,81.529999,10300

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close   High        Low   Open  Volume
Ticker                  KBE    KBE    KBE        KBE    KBE     KBE
0      2025-11-28     58.98  58.98  59.32  58.919998  59.18  509000

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close       High        Low       Open  Volume
Ticker                 KBWB   KBWB       KBWB       KBWB       KBWB    KBWB
0      2025-11-28     79.32  79.32  79.699997  78.839996  78.839996  638500

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close   High    Low   Open Volume
Ticker                 KBWY   KBWY   KBWY   KBWY   KBWY   KBWY
0      2025-11-28     15.64  15.64  15.67  15.59  15.67  98400

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close   High        Low   Open   Volume
Ticker                   KIE        KIE    KIE        KIE    KIE      KIE
0      2025-11-28  60.009998  60.009998  60.32  59.950001  60.09  1256200

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close  High        Low       Open Volume
Ticker                  KRBN       KRBN  KRBN       KRBN       KRBN   KRBN
0      2025-11-28  34.220001  34.220001  34.5  33.990002  33.990002  15227

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,KRE,KRE,KRE,KRE,KRE,KRE
0,2025-11-28,62.990002,62.990002,63.380001,62.880001,63.200001,6876100

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close       High        Low   Open  Volume
Ticker                   KSA        KSA        KSA        KSA    KSA     KSA
0      2025-11-28  37.439999  37.439999  37.445801  37.282001  37.32  148846

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close       High        Low  Open    Volume
Ticker                 KWEB   KWEB       KWEB       KWEB  KWEB      KWEB
0      2025-11-28     37.57  37.57  37.679901  37.360001  37.5  10107498

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,KXI,KXI,KXI,KXI,KXI,KXI
0,2025-11-28,65.970001,65.970001,66.029999,65.610001,65.610001,74700

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,LIT,LIT,LIT,LIT,LIT,LIT
0,2025-11-28,63.459999,63.459999,63.529999,62.700001,62.700001,183400

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,LQD,LQD,LQD,LQD,LQD,LQD
0,2025-11-28,111.860001,111.860001,112.019997,111.68,111.980003,25471200

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,MCHI,MCHI,MCHI,MCHI,MCHI,MCHI
0,2025-11-28,62.200001,62.200001,62.310001,61.939999,62.040001,945100

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,MDY,MDY,MDY,MDY,MDY,MDY
0,2025-11-28,605.47998,605.47998,606.330017,602.400024,603.539978,804900

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,MOO,MOO,MOO,MOO,MOO,MOO
0,2025-11-28,73.110001,73.110001,73.360001,72.839996,72.839996,20200

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close Close  High  Low Open   Volume
Ticker                 MSOS  MSOS  MSOS MSOS MSOS     MSOS
0      2025-11-28      3.48  3.48  3.53  3.4  3.4  1523413

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close   Close   High     Low    Open   Volume
Ticker                  MUB     MUB    MUB     MUB     MUB      MUB
0      2025-11-28    107.43  107.43  107.5  107.32  107.32  2748800

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close       High        Low       Open Volume
Ticker                 NORW   NORW       NORW       NORW       NORW   NORW
0      2025-11-28     28.93  28.93  29.129999  28.719999  28.719999  13900

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close    High        Low   Open  Volume
Ticker                  PAVE       PAVE    PAVE       PAVE   PAVE    PAVE
0      2025-11-28  48.540001  48.540001  48.605  48.330002  48.48  305409

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,PBJ,PBJ,PBJ,PBJ,PBJ,PBJ
0,2025-11-28,45.630001,45.630001,45.630001,45.529999,45.549999,900

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['PBS']: YFPricesMissingError('possibly delisted; no price data found  (1d 2025-11-28 00:00:00 -> 2025-12-31 00:00:00)')

Fallo con Ticker
Entrando en modo de fallo

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['PBS']: YFPricesMissingError('possibly delisted; no price data found  (1d 2025-11-28 00:00:00 -> 2025-12-31 00:00:00)')

Fallo con Ticker
Entrando en modo de fallo

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['PBS']: YFPricesMissingError('possibly delisted; no price data found  (1d 2025-11-28 00:00:00 -> 2025-12-31 00:00:00)')

Fallo con Ticker
Entrando en modo de fallo

'PBS'

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close       High        Low   Open  Volume
Ticker                  PBW    PBW        PBW        PBW    PBW     PBW
0      2025-11-28     31.65  31.65  31.690001  30.870001  31.09  173400

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,PEJ,PEJ,PEJ,PEJ,PEJ,PEJ
0,2025-11-28,59.189999,59.189999,59.189999,58.560001,58.599998,39100

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,PEJ,PEJ,PEJ,PEJ,PEJ,PEJ
0,2025-11-28,59.189999,59.189999,59.189999,58.560001,58.599998,39100

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['GLCN']: YFPricesMissingError('possibly delisted; no price data found  (1d 2025-11-28 00:00:00 -> 2025-12-31 00:00:00)')

Fallo con Ticker
Entrando en modo de fallo

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['GLCN']: YFPricesMissingError('possibly delisted; no price data found  (1d 2025-11-28 00:00:00 -> 2025-12-31 00:00:00)')

Fallo con Ticker
Entrando en modo de fallo

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['GLCN']: YFPricesMissingError('possibly delisted; no price data found  (1d 2025-11-28 00:00:00 -> 2025-12-31 00:00:00)')

Fallo con Ticker
Entrando en modo de fallo

'GLCN'

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close  High        Low       Open   Volume
Ticker                   PFF        PFF   PFF        PFF        PFF      PFF
0      2025-11-28  30.950001  30.950001  31.0  30.879999  30.969999  1543800

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,PHO,PHO,PHO,PHO,PHO,PHO
0,2025-11-28,72.389999,72.389999,72.800003,72.360001,72.720001,44500

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,PJP,PJP,PJP,PJP,PJP,PJP
0,2025-11-28,106.169998,106.169998,106.709999,105.739998,106.709999,10000

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,PPA,PPA,PPA,PPA,PPA,PPA
0,2025-11-28,151.309998,151.309998,151.309998,150.190002,150.449997,54300

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,PPH,PPH,PPH,PPH,PPH,PPH
0,2025-11-28,102.510002,102.510002,103.160004,102.040001,102.830002,255100

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,PPLT,PPLT,PPLT,PPLT,PPLT,PPLT
0,2025-11-28,152.589996,152.589996,153.0,149.309998,149.570007,485800

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,PSCC,PSCC,PSCC,PSCC,PSCC,PSCC
0,2025-11-28,31.620001,31.620001,31.620001,31.530001,31.559999,7300

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,PSCD,PSCD,PSCD,PSCD,PSCD,PSCD
0,2025-11-28,105.919998,105.919998,105.919998,105.919998,105.919998,100

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close       High    Low       Open Volume
Ticker                 PSCH   PSCH       PSCH   PSCH       PSCH   PSCH
0      2025-11-28     45.75  45.75  46.049999  45.59  46.049999   6200

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close   High        Low  Open Volume
Ticker                   QAT        QAT    QAT        QAT   QAT    QAT
0      2025-11-28  18.879999  18.879999  18.91  18.870001  18.9   9599

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,QQQ,QQQ,QQQ,QQQ,QQQ,QQQ
0,2025-11-28,619.25,619.25,619.320007,615.419983,616.109985,23034400

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close       High    Low   Open  Volume
Ticker                 REET   REET       REET   REET   REET    REET
0      2025-11-28     25.66  25.66  25.690001  25.51  25.51  403648

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close   High    Low   Open  Volume
Ticker                  REM    REM    REM    REM    REM     REM
0      2025-11-28     22.91  22.91  23.01  22.85  22.93  504700

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,ROBO,ROBO,ROBO,ROBO,ROBO,ROBO
0,2025-11-28,68.330002,68.330002,68.389999,67.767601,67.839996,50655

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['RSX']: YFPricesMissingError('possibly delisted; no price data found  (1d 2025-11-28 00:00:00 -> 2025-12-31 00:00:00)')

Fallo con Ticker
Entrando en modo de fallo

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['RSX']: YFPricesMissingError('possibly delisted; no price data found  (1d 2025-11-28 00:00:00 -> 2025-12-31 00:00:00)')

Fallo con Ticker
Entrando en modo de fallo

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['RSX']: YFPricesMissingError('possibly delisted; no price data found  (1d 2025-11-28 00:00:00 -> 2025-12-31 00:00:00)')

Fallo con Ticker
Entrando en modo de fallo

'RSX'

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close       High    Low   Open Volume
Ticker                   RWO        RWO        RWO    RWO    RWO    RWO
0      2025-11-28  46.450001  46.450001  46.459999  46.16  46.16  20700

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close       High        Low       Open Volume
Ticker                  RWX    RWX        RWX        RWX        RWX    RWX
0      2025-11-28     28.16  28.16  28.200001  28.049999  28.049999   2100

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close       High        Low       Open   Volume
Ticker                 SCHD   SCHD       SCHD       SCHD       SCHD     SCHD
0      2025-11-28     27.59  27.59  27.639999  27.450001  27.459999  8406000

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close  High   Low       Open  Volume
Ticker                   SCZ        SCZ   SCZ   SCZ        SCZ     SCZ
0      2025-11-28  77.470001  77.470001  77.5  77.0  77.169998  678700

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close       High        Low  Open   Volume
Ticker                  SGOL       SGOL       SGOL       SGOL  SGOL     SGOL
0      2025-11-28  40.189999  40.189999  40.189999  39.900002  40.0  3053600

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,SHY,SHY,SHY,SHY,SHY,SHY
0,2025-11-28,83.080002,83.080002,83.110001,83.059998,83.099998,2799600

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,SHYG,SHYG,SHYG,SHYG,SHYG,SHYG
0,2025-11-28,43.080002,43.080002,43.1199,43.060001,43.110001,1045288

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,SIL,SIL,SIL,SIL,SIL,SIL
0,2025-11-28,77.660004,77.660004,77.879997,75.129997,75.660004,3002500

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close   High        Low       Open    Volume
Ticker                   SLV        SLV    SLV        SLV        SLV       SLV
0      2025-11-28  51.209999  51.209999  51.27  49.580002  49.669998  41350000

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,SLX,SLX,SLX,SLX,SLX,SLX
0,2025-11-28,80.860001,80.860001,81.389999,80.839996,81.139999,13600

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,SMH,SMH,SMH,SMH,SMH,SMH
0,2025-11-28,352.279999,352.279999,352.570007,347.709991,349.170013,3352700

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,SOXX,SOXX,SOXX,SOXX,SOXX,SOXX
0,2025-11-28,296.73999,296.73999,296.98999,291.829987,293.25,3038000

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,SPSM,SPSM,SPSM,SPSM,SPSM,SPSM
0,2025-11-28,47.110001,47.110001,47.209999,47.009998,47.209999,697388

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,SPY,SPY,SPY,SPY,SPY,SPY
0,2025-11-28,683.390015,683.390015,683.669983,680.5,680.859985,49212000

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,SPYG,SPYG,SPYG,SPYG,SPYG,SPYG
0,2025-11-28,107.040001,107.040001,107.040001,106.610001,106.82,1212800

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close       High        Low       Open  Volume
Ticker                  TAN    TAN        TAN        TAN        TAN     TAN
0      2025-11-28     48.91  48.91  49.029999  48.220001  48.610001  573800

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,THD,THD,THD,THD,THD,THD
0,2025-11-28,59.040001,59.040001,59.040001,58.619999,58.619999,5200

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,TIP,TIP,TIP,TIP,TIP,TIP
0,2025-11-28,111.260002,111.260002,111.519997,111.230003,111.480003,1830000

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,TLT,TLT,TLT,TLT,TLT,TLT
0,2025-11-28,90.209999,90.209999,90.529999,89.949997,90.459999,40704300

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close   High   Low  Open Volume
Ticker                 ^TNX   ^TNX   ^TNX  ^TNX  ^TNX   ^TNX
0      2025-11-28     4.017  4.017  4.036  3.99  3.99      0

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close Close   High    Low   Open  Volume
Ticker                  TUR   TUR    TUR    TUR    TUR     TUR
0      2025-11-28      33.5  33.5  33.52  33.34  33.52  325300

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close   High    Low   Open   Volume
Ticker                  UNG    UNG    UNG    UNG    UNG      UNG
0      2025-11-28     14.73  14.73  14.87  14.57  14.62  6018500

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close       High        Low   Open   Volume
Ticker                   URA        URA        URA        URA    URA      URA
0      2025-11-28  45.279999  45.279999  45.560001  44.849998  45.07  2063100

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close       High        Low      Open Volume
Ticker                 MXN=X      MXN=X      MXN=X      MXN=X     MXN=X  MXN=X
0      2025-11-28  18.329599  18.329599  18.378590  18.279301  18.34164      0
1      2025-11-29  18.290501  18.290501  18.381001  18.277000  18.33157      0

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close   High        Low       Open    Volume
Ticker                  USHY       USHY   USHY       USHY       USHY      USHY
0      2025-11-28  37.639999  37.639999  37.66  37.610001  37.639999  10641628

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close       High        Low       Open   Volume
Ticker                  USO    USO        USO        USO        USO      USO
0      2025-11-28     71.07  71.07  71.300003  70.440002  70.440002  3363800

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close   High    Low   Open   Volume
Ticker                   UUP        UUP    UUP    UUP    UUP      UUP
0      2025-11-28  28.209999  28.209999  28.27  28.18  28.27  1215800

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close       High   Low       Open   Volume
Ticker                  VCLT       VCLT       VCLT  VCLT       VCLT     VCLT
0      2025-11-28  77.720001  77.720001  77.889999  77.5  77.800003  4994400

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,VCSH,VCSH,VCSH,VCSH,VCSH,VCSH
0,2025-11-28,80.059998,80.059998,80.099998,80.010002,80.089996,1247000

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,VGK,VGK,VGK,VGK,VGK,VGK
0,2025-11-28,81.529999,81.529999,81.550003,81.080002,81.160004,1305400

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close   High        Low       Open  Volume
Ticker                  VMBS       VMBS   VMBS       VMBS       VMBS    VMBS
0      2025-11-28  47.310001  47.310001  47.34  47.259998  47.330002  759400

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close   High        Low       Open  Volume
Ticker                  VNM    VNM    VNM        VNM        VNM     VNM
0      2025-11-28     18.34  18.34  18.34  18.059999  18.200001  524000

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close       High    Low   Open   Volume
Ticker                   VNQ        VNQ        VNQ    VNQ    VNQ      VNQ
0      2025-11-28  91.339996  91.339996  91.599998  90.93  90.93  1627100

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close       High        Low   Open Volume
Ticker                 VNQI   VNQI       VNQI       VNQI   VNQI   VNQI
0      2025-11-28     47.82  47.82  47.849998  47.580002  47.59  75100

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,VOX,VOX,VOX,VOX,VOX,VOX
0,2025-11-28,191.210007,191.210007,191.210007,189.899994,189.979996,136700

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,VPL,VPL,VPL,VPL,VPL,VPL
0,2025-11-28,90.830002,90.830002,90.870003,90.519997,90.620003,201100

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,VSS,VSS,VSS,VSS,VSS,VSS
0,2025-11-28,143.759995,143.759995,143.770004,142.899994,143.009995,74400

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close   High    Low       Open  Volume
Ticker                 WCLD   WCLD   WCLD   WCLD       WCLD    WCLD
0      2025-11-28     33.91  33.91  34.02  33.68  33.689999  323996

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,WOOD,WOOD,WOOD,WOOD,WOOD,WOOD
0,2025-11-28,70.379997,70.379997,70.400002,70.050003,70.050003,8400

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,XHB,XHB,XHB,XHB,XHB,XHB
0,2025-11-28,108.879997,108.879997,109.330002,108.529999,109.279999,922500

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,XHE,XHE,XHE,XHE,XHE,XHE
0,2025-11-28,88.919998,88.919998,89.019997,88.690002,89.010002,7000

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close   High        Low       Open   Volume
Ticker                   XLB        XLB    XLB        XLB        XLB      XLB
0      2025-11-28  89.400002  89.400002  89.75  88.910004  89.129997  2393400

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,XLC,XLC,XLC,XLC,XLC,XLC
0,2025-11-28,115.389999,115.389999,115.389999,114.650002,114.794998,3730044

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,XLE,XLE,XLE,XLE,XLE,XLE
0,2025-11-28,90.449997,90.449997,90.839996,89.199997,89.330002,8333300

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,XLF,XLF,XLF,XLF,XLF,XLF
0,2025-11-28,53.330002,53.330002,53.549999,53.029999,53.099998,16136100

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,XLI,XLI,XLI,XLI,XLI,XLI
0,2025-11-28,153.690002,153.690002,153.860001,152.770004,153.059998,3507600

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,XLK,XLK,XLK,XLK,XLK,XLK
0,2025-11-28,286.220001,286.220001,286.269989,283.609985,284.380005,3396100

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,XLP,XLP,XLP,XLP,XLP,XLP
0,2025-11-28,79.370003,79.370003,79.389999,78.800003,78.800003,8914300

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close    High        Low   Open   Volume
Ticker                  XLRE       XLRE    XLRE       XLRE   XLRE     XLRE
0      2025-11-28  41.669998  41.669998  41.785  41.419998  41.48  3771859

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,XLU,XLU,XLU,XLU,XLU,XLU
0,2025-11-28,90.629997,90.629997,90.699997,90.050003,90.139999,3941300

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,XLV,XLV,XLV,XLV,XLV,XLV
0,2025-11-28,157.649994,157.649994,158.25,157.160004,158.199997,8559700

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,XLY,XLY,XLY,XLY,XLY,XLY
0,2025-11-28,236.460007,236.460007,236.800003,235.539993,235.539993,2413600

[*********************100%***********************]  1 of 1 completed

Price        Date  Adj Close      Close   High        Low       Open   Volume
Ticker                   XME        XME    XME        XME        XME      XME
0      2025-11-28  97.089996  97.089996  97.25  95.480003  96.059998  1767000

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,XRT,XRT,XRT,XRT,XRT,XRT
0,2025-11-28,84.349998,84.349998,84.690002,84.029999,84.690002,2152500

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close  Close   High    Low    Open Volume
Ticker                 ZO=F   ZO=F   ZO=F   ZO=F    ZO=F   ZO=F
0      2025-11-28     317.5  317.5  318.5  313.0  288.25    137

[*********************100%***********************]  1 of 1 completed

Price        Date Adj Close   Close   High     Low    Open Volume
Ticker                 ZR=F    ZR=F   ZR=F    ZR=F    ZR=F   ZR=F
0      2025-11-28    10.075  10.075  10.19  10.055  10.195    285

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['DC=F']: YFPricesMissingError('possibly delisted; no price data found  (1d 2025-11-28 00:00:00 -> 2025-12-31 00:00:00)')

Fallo con Ticker
Entrando en modo de fallo

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['DC=F']: YFPricesMissingError('possibly delisted; no price data found  (1d 2025-11-28 00:00:00 -> 2025-12-31 00:00:00)')

Fallo con Ticker
Entrando en modo de fallo

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['DC=F']: YFPricesMissingError('possibly delisted; no price data found  (1d 2025-11-28 00:00:00 -> 2025-12-31 00:00:00)')

Fallo con Ticker
Entrando en modo de fallo

'DC=F'

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['CSC=F']: YFPricesMissingError('possibly delisted; no price data found  (1d 2025-11-28 00:00:00 -> 2025-12-31 00:00:00)')

Fallo con Ticker
Entrando en modo de fallo

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['CSC=F']: YFPricesMissingError('possibly delisted; no price data found  (1d 2025-11-28 00:00:00 -> 2025-12-31 00:00:00)')

Fallo con Ticker
Entrando en modo de fallo

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['CSC=F']: YFPricesMissingError('possibly delisted; no price data found  (1d 2025-11-28 00:00:00 -> 2025-12-31 00:00:00)')

Fallo con Ticker
Entrando en modo de fallo

'CSC=F'

['CC=F',
 'EGPT',
 'ERUS',
 'EWGS',
 'GRES',
 'GXG',
 'JJU',
 'PBS',
 'GLCN',
 'RSX',
 'DC=F',
 'CSC=F']

,DatoFecha,D_Open,D_High,D_Low,D_Close,D_Volume,D_OpenInterest,IdIndiceEspecifico,Descripcion,IdTD,IdTicker,Source
0,2025-11-28,108.080002,110.680000,109.160004,110.410004,374,110.410004,3006,Blmbg Commodity Index,$BCOM(D),AW=F,Yahoo
0,2025-11-28,23291.589844,23365.789062,23250.509766,23365.689453,4541070000,23365.689453,2990,Nasdaq Composite Index,$COMPX,^IXIC,Yahoo
0,2025-11-28,6822.520020,6850.859863,6819.750000,6849.089844,2558540000,6849.089844,2986,S&P 500 Index,$INX,^GSPC,Yahoo
0,2025-11-28,423.000000,448.500000,443.500000,447.750000,78853,447.750000,3011,Corn Continuous Contract [Sep21],@C(D),ZC=F,Yahoo
0,2025-11-28,58.580002,59.639999,58.270000,58.549999,138365,58.549999,3013,Crude Oil Continuous Contract [Sep21],@CL(D),CL=F,Yahoo
0,2025-11-28,64.230003,64.949997,64.419998,62.910000,12848,62.910000,3014,Cotton No. 2 Continuous Contract [Dec21],@CT(D),CT=F,Yahoo
0,2025-11-28,99.540001,99.779999,99.324997,99.407997,13371,99.407997,3001,U.S. Dollar Index Continuous Contract [Sep21],@DX(D),DX=F,Yahoo
0,2025-11-28,4163.399902,4223.899902,4174.600098,4218.299805,149887,4218.299805,3015,Gold Continuous Contract [Aug21],@GC(D),GC=F,Yahoo
0,2025-11-28,5.119500,5.215000,5.055000,5.185500,31863,5.185500,3016,Copper Continuous Contract [Sep21],@HG(D),HG=F,Yahoo
0,2025-11-28,2.268400,2.351000,2.262400,2.333000,18362,2.333000,3017,Heating Oil Continuous Contract [Aug21],@HO(D),HO=F,Yahoo
0,2025-11-28,412.500000,368.200012,360.799988,364.000000,8481,364.000000,3018,Coffee C Continuous Contract [Sep21],@KC(D),KC=F,Yahoo
0,2025-11-28,208.425003,219.074997,213.274994,217.850006,8755,217.850006,3019,Live Cattle Continuous Contract [Aug21],@LC(D),LE=F,Yahoo
0,2025-11-28,79.050003,82.275002,80.800003,80.599998,14617,80.599998,3020,Lean Hogs Continuous Contract [Aug21],@LH(D),HE=F,Yahoo
0,2025-11-28,4.618000,4.871000,4.527000,4.850000,118167,4.850000,3021,Natural Gas Continuous Contract [Aug21],@NG(D),NG=F,Yahoo
0,2025-11-28,142.750000,158.149994,148.399994,156.050003,732,156.050003,3023,Frozen Concentrated OJ Continuous Contract [Se...,@OJ(D),OJ=F,Yahoo
0,2025-11-28,1125.500000,1138.750000,1129.750000,1137.750000,33561,1137.750000,3025,Soybeans Continuous Contract [Nov21],@S(D),ZS=F,Yahoo
0,2025-11-28,14.900000,14.820000,14.620000,14.730000,18982,14.730000,3026,Sugar No. 11 Continuous Contract [Oct21],@SB(D),SB=F,Yahoo
0,2025-11-28,53.075001,57.244999,52.549999,57.162998,95722,57.162998,3027,Silver Continuous Contract [Sep21],@SI(D),SI=F,Yahoo
0,2025-11-28,538.500000,532.250000,527.250000,531.000000,21887,531.000000,3028,Wheat Continuous Contract [Sep21],@W(D),ZW=F,Yahoo
0,2025-11-28,92.330002,92.730003,92.239998,92.660004,184700,92.660004,3933,iShares MSCI All Country Asia ex Japan ETF,AAXJ,AAXJ,Yahoo
0,2025-11-28,92.120003,93.370003,91.400002,93.180000,211200,93.180000,239,Glbl X MSCI Argentina ETF,ARGT(HB),ARGT,Yahoo
0,2025-11-28,49.320000,49.794998,49.099998,49.580002,170856,49.580002,3948,ARK Fintech Innovation ETF,ARKF,ARKF,Yahoo
0,2025-11-28,31.000000,31.190001,30.650000,31.190001,1111756,31.190001,3939,ARK Genomic Revolution ETF,ARKG,ARKG,Yahoo
0,2025-11-28,79.040001,79.800003,78.650002,79.680000,3346976,79.680000,3921,ARK Innovation ETF,ARKK,ARKK,Yahoo
0,2025-11-28,151.399994,152.860001,151.375000,152.399994,52060,152.399994,3945,ARK Next Generation Internet ETF,ARKW,ARKW,Yahoo
0,2025-11-28,32.459999,32.610001,32.474998,32.580002,3527382,32.580002,3936,Xtrackers Harvest CSI 300 China A-Shares ETF,ASHR,ASHR,Yahoo
0,2025-11-28,14.560000,14.580000,14.130000,14.200000,15863131,14.200000,3995,ProShares Bitcoin Strategy ETF,BITO,BITO,Yahoo
0,2025-11-28,42.220001,42.380001,42.080002,42.380001,1800,42.380001,2901,VanEck Vctrs Gaming ETF,BJK(HB),BJK,Yahoo
0,2025-11-28,62.000000,63.220001,61.863602,62.580002,249156,62.580002,3958,Amplify Transformational Data Sharing ETF,BLOK,BLOK,Yahoo
0,2025-11-28,74.860001,74.879997,74.709999,74.779999,4812100,74.779999,3973,Vanguard Total Bond Market ETF,BND,BND,Yahoo
0,2025-11-28,28.900000,29.250000,28.900000,29.170000,418300,29.170000,3971,United States Brent Oil Fund LP,BNO,BNO,Yahoo
0,2025-11-28,35.110001,35.256500,35.080002,35.169998,276307,35.169998,3944,Global X Robotics & Artificial Intelligence ETF,BOTZ,BOTZ,Yahoo
0,2025-11-28,75.699997,76.320000,75.699997,76.099998,1200,76.099998,3530,First Trust NASDAQ Global Auto,CARZ(HB),CARZ,Yahoo
0,2025-11-28,64.349998,64.489998,64.250000,64.480003,10600,64.480003,2902,Invesco S&P Global Water,CGW(HB),CGW,Yahoo
0,2025-11-28,22.129999,22.190001,21.969999,22.090000,72000,22.090000,2903,Global X MSCI China Cons Disc,CHIQ,CHIQ,Yahoo
0,2025-11-28,73.419998,73.790001,73.239998,73.650002,293896,73.650002,3929,First Trust NASDAQ Cybersecurity ETF,CIBR,CIBR,Yahoo
0,2025-11-28,63.650002,64.580002,63.430000,64.300003,2151200,64.300003,3972,Global X Copper Miners ETF,COPX,COPX,Yahoo
0,2025-11-28,52.540001,52.700001,52.400002,52.619999,256800,52.619999,215,Invesco China Tech,CQQQ,CQQQ,Yahoo
0,2025-11-28,28.840000,28.950001,28.840000,28.950001,1000,28.950001,2904,Invesco MSCI Global Timber,CUT(HB),CUT,Yahoo
0,2025-11-28,89.709999,90.620003,89.709999,90.570000,165500,90.570000,3990,SPDR Bloomberg Convertible Securities ETF,CWB,CWB,Yahoo
0,2025-11-28,26.180000,26.430000,26.180000,26.420000,115800,26.420000,3964,Invesco DB Agriculture Fund,DBA,DBA,Yahoo
0,2025-11-28,22.940001,23.090000,22.920000,23.059999,236100,23.059999,3961,Invesco DB Commodity Index Tracking Fund,DBC,DBC,Yahoo
0,2025-11-28,18.889999,19.040001,18.889999,19.040001,4300,19.040001,3970,Invesco DB Energy Fund,DBE,DBE,Yahoo
0,2025-11-28,95.629997,95.830002,95.559998,95.739998,1900,95.739998,199,WisdomTree Japan SmallCap,DFJ,DFJ,Yahoo
0,2025-11-28,474.820007,477.609985,474.820007,477.179993,2281800,477.179993,195,SPDR DJ Industrial Average ETF,DIA,DIA,Yahoo
0,2025-11-28,37.740002,37.840000,37.490002,37.820000,28300,37.820000,3968,iPath Bloomberg Commodity Index Total Return ETN,DJP,DJP,Yahoo
0,2025-11-28,29.219999,29.490000,29.219999,29.482201,35036,29.482201,3947,Global X Autonomous & Electric Vehicles ETF,DRIV,DRIV,Yahoo
0,2025-11-28,38.000000,38.040001,37.770000,37.860001,858600,37.860001,242,iShs MSCI Chile ETF,ECH,ECH,Yahoo
0,2025-11-28,27.120001,27.219999,27.120001,27.180000,8200,27.180000,2905,Columbia Emrgng Mrkts Consumer,ECON(HB),ECON,Yahoo
0,2025-11-28,111.150002,111.154999,110.724998,111.186996,3362,111.186996,229,iShs MSCI Denmark ETF,EDEN(HB),EDEN,Yahoo
0,2025-11-28,54.160000,54.369999,54.119999,54.320000,15057500,54.320000,255,iShs MSCI Emerg Mkt ETF,EEM,EEM,Yahoo
0,2025-11-28,94.839996,95.220001,94.739998,95.190002,8136000,95.190002,3902,iShares MSCI EAFE ETF,EFA,EFA,Yahoo
0,2025-11-28,113.620003,114.099998,113.489998,114.050003,568400,114.050003,3920,iShares MSCI EAFE Growth ETF,EFG,EFG,Yahoo
0,2025-11-28,45.430000,45.517899,45.517899,45.517899,579,45.517899,228,iShs MSCI Finland ETF,EFNL(HB),EFNL,Yahoo
0,2025-11-28,70.110001,70.309998,69.989998,70.269997,1450600,70.269997,3909,iShares MSCI EAFE Value ETF,EFV,EFV,Yahoo
0,2025-11-28,18.610001,18.680000,18.559999,18.670000,221700,18.670000,202,iShs MSCI Indonesia ETF,EIDO(HB),EIDO,Yahoo
0,2025-11-28,72.160004,72.839996,72.160004,72.839996,1500,72.839996,233,iShs MSCI Ireland ETF,EIRL(HB),EIRL,Yahoo
0,2025-11-28,103.459999,103.860001,103.160004,103.760002,39800,103.760002,249,iShrs MSCI Israel ETF,EIS(HB),EIS,Yahoo
0,2025-11-28,96.750000,96.800003,96.610001,96.730003,2628400,96.730003,3984,iShares JP Morgan USD Emerging Markets Bond ETF,EMB,EMB,Yahoo
0,2025-11-28,25.549999,25.600000,25.549999,25.600000,1111900,25.600000,3992,VanEck J.P. Morgan EM Local Currency Bond ETF,EMLC,EMLC,Yahoo
0,2025-11-28,42.650002,42.791599,42.700001,42.730000,7687,42.730000,3951,Emerging Markets Internet & Ecommerce ETF,EMQQ,EMQQ,Yahoo
0,2025-11-28,70.970001,71.209999,70.860001,71.180000,194556,71.180000,3940,iShares MSCI Emerging Markets ex China ETF,EMXC,EMXC,Yahoo
0,2025-11-28,45.470001,45.630001,45.060001,45.630001,3000,45.630001,208,iShs MSCI New Z'land ETF,ENZL(HB),ENZL,Yahoo
0,2025-11-28,25.010000,25.230000,25.010000,25.209999,171400,25.209999,209,iShs MSCI Philippines ETF,EPHE(HB),EPHE,Yahoo
0,2025-11-28,33.889999,34.090000,33.799999,34.070000,116900,34.070000,219,iShs MSCI Poland ETF,EPOL(HB),EPOL,Yahoo
0,2025-11-28,64.089996,64.959999,64.089996,64.470001,18500,64.470001,243,iShs MSCI All Peru ETF,EPU(HB),EPU,Yahoo
0,2025-11-28,34.950001,35.020000,34.860001,35.000000,285700,35.000000,2906,iShs MSCI Euro Finl ETF,EUFN(HB),EUFN,Yahoo
0,2025-11-28,1.160025,1.160672,1.155735,1.159985,0,1.159985,312,Euro / US Dollar,EURUSD,EURUSD=X,Yahoo
0,2025-11-28,25.760000,25.900000,25.750000,25.850000,1440600,25.850000,206,iShs MSCI Australia ETF,EWA,EWA,Yahoo
0,2025-11-28,52.450001,52.759998,52.340000,52.700001,910400,52.700001,240,iShs MSCI Canada ETF,EWC(HB),EWC,Yahoo
0,2025-11-28,47.590000,48.000000,47.590000,47.910000,50400,47.910000,218,iShs MSCI Sweden ETF,EWD(HB),EWD,Yahoo
0,2025-11-28,40.740002,40.919998,40.700001,40.919998,1289400,40.919998,235,iShs MSCI Germany ETF,EWG(HB),EWG,Yahoo
0,2025-11-28,22.180000,22.250000,22.160000,22.240000,1071800,22.240000,211,iShs MSCI Hong Kong ETF,EWH,EWH,Yahoo
0,2025-11-28,52.639999,52.939999,52.639999,52.930000,176900,52.930000,220,iShs MSCI Italy ETF,EWI(HB),EWI,Yahoo
0,2025-11-28,82.839996,83.040001,82.750000,83.010002,2711800,83.010002,201,iShs MSCI Japan ETF,EWJ(HB),EWJ,Yahoo
0,2025-11-28,24.360001,24.360001,24.200001,24.280001,9000,24.280001,231,iShs MSCI Belgium ETF,EWK(HB),EWK,Yahoo
0,2025-11-28,57.529999,57.840000,57.430000,57.820000,256800,57.820000,224,iShs MSCI Switzerland ETF,EWL(HB),EWL,Yahoo
0,2025-11-28,26.280001,26.459999,26.280001,26.430000,262300,26.430000,210,iShs MSCI Malaysia ETF,EWM,EWM,Yahoo
0,2025-11-28,57.779999,58.169998,57.689999,58.169998,10300,58.169998,226,iShs MSCI Netherlands ETF,EWN(HB),EWN,Yahoo
0,2025-11-28,32.860001,33.000000,32.770000,33.000000,24900,33.000000,232,iShs MSCI Austria ETF,EWO(HB),EWO,Yahoo
0,2025-11-28,51.400002,51.689999,51.380001,51.660000,694800,51.660000,221,iShs MSCI Spain ETF,EWP(HB),EWP,Yahoo
0,2025-11-28,44.400002,44.619999,44.320000,44.570000,85700,44.570000,2907,iShs MSCI France ETF,EWQ(HB),EWQ,Yahoo
0,2025-11-28,28.209999,28.430000,28.180000,28.389999,577600,28.389999,205,iShs MSCI Singapore ETF,EWS,EWS,Yahoo
0,2025-11-28,64.370003,64.540001,64.120003,64.510002,4233300,64.510002,204,iShs MSCI Taiwan ETF,EWT(HB),EWT,Yahoo
0,2025-11-28,43.040001,43.220001,43.009998,43.150002,718200,43.150002,227,iShs MSCI UK ETF,EWU(HB),EWU,Yahoo
0,2025-11-28,40.889999,41.099998,40.889999,41.099998,5492,41.099998,236,iShs MSCI United Kingdom,EWUS(HB),EWUS,Yahoo
0,2025-11-28,67.599998,68.540001,67.290001,68.419998,543500,68.419998,245,iShs MSCI Mexico ETF,EWW,EWW,Yahoo
0,2025-11-28,90.529999,91.010002,90.500000,90.870003,2704900,90.870003,207,iShs MSCI S Korea ETF,EWY(HB),EWY,Yahoo
0,2025-11-28,33.590000,33.669998,33.439999,33.610001,15012400,33.610001,241,iShs MSCI Brazil ETF,EWZ,EWZ,Yahoo
0,2025-11-28,14.040000,14.180000,14.000000,14.160000,341400,14.160000,244,iShs MSCI Brazil SmCap ETF,EWZS(HB),EWZS,Yahoo
0,2025-11-28,67.000000,67.000000,66.449997,66.739998,260300,66.739998,246,iShs MSCI So Africa ETF,EZA(HB),EZA,Yahoo
0,2025-11-28,71.870003,72.269997,71.800003,72.250000,48870,72.250000,3956,Fidelity MSCI Communication Services Index ETF,FCOM,FCOM,Yahoo
0,2025-11-28,268.320007,270.230011,268.299988,270.160004,523900,270.160004,2908,First Trust DJ Internet,FDN(HB),FDN,Yahoo
0,2025-11-28,30.230000,30.730000,30.200100,30.675900,27625,30.675900,3955,Global X FinTech ETF,FINX,FINX,Yahoo
0,2025-11-28,51.040001,51.070000,51.040001,51.070000,963100,51.070000,3986,iShares Floating Rate Bond ETF,FLOT,FLOT,Yahoo
0,2025-11-28,21.770000,21.879999,21.770000,21.857300,27181,21.857300,3949,First Trust Nasdaq Food & Beverage ETF,FTXG,FTXG,Yahoo
0,2025-11-28,127.169998,127.510002,127.169998,127.360001,3500,127.360001,3002,Invesc CurrShs British Pound,FXB(HB),FXB,Yahoo
0,2025-11-28,106.820000,107.099998,106.800003,107.089996,48700,107.089996,3003,Invesc CurrShs Euro Trust,FXE(HB),FXE,Yahoo
0,2025-11-28,39.430000,39.619999,39.410000,39.529999,11699800,39.529999,213,iShs China Large-Cap ETF,FXI,FXI,Yahoo
0,2025-11-28,58.860001,58.970001,58.820000,58.919998,193400,58.919998,3004,Invesc CurrShs Japanese Yen,FXY(HB),FXY,Yahoo
0,2025-11-28,1.324135,1.325082,1.320184,1.324118,0,1.324118,2965,British Pound / US Dollar,GBPUSD,GBPUSD=X,Yahoo
0,2025-11-28,82.260002,83.279999,81.769997,83.230003,15906800,83.230003,2909,VanEck Vctrs Gold Miners ETF,GDX,GDX,Yahoo
0,2025-11-28,71.330002,71.820000,71.250000,71.820000,13100,71.820000,2910,SPDR S&P Glbl Infra ETF,GII(HB),GII,Yahoo
0,2025-11-28,183.940002,186.490005,183.559998,186.490005,148600,186.490005,3966,Aberdeen Standard Physical Precious Metals Bas...,GLTR,GLTR,Yahoo
0,2025-11-28,60.910000,61.230000,60.820000,61.060001,66400,61.060001,2911,SPDR S&P Gl Natural Resources,GNR(HB),GNR,Yahoo
0,2025-11-28,65.639999,65.639999,64.559998,65.320000,113100,65.320000,223,Global X MSCI Greece ETF,GREK(HB),GREK,Yahoo
0,2025-11-28,99.239998,99.690002,99.239998,99.570000,3300,99.570000,212,SPDR S&P China,GXC(HB),GXC,Yahoo
0,2025-11-28,17.719999,17.870001,17.580000,17.629999,4331500,17.629999,3557,Host Hotels & Resorts Inc,HST,HST,Yahoo
0,2025-11-28,51.180000,51.180000,51.070000,51.099998,246200,51.099998,3991,VanEck High Yield Muni ETF,HYD,HYD,Yahoo
0,2025-11-28,81.000000,81.070000,80.940002,80.989998,29430800,80.989998,3985,iShares iBoxx USD High Yield Corporate Bond ETF,HYG,HYG,Yahoo
0,2025-11-28,175.250000,176.559998,175.160004,175.770004,19400,175.770004,2913,iShs US Broker-Dealers & Sec,IAI(HB),IAI,Yahoo
0,2025-11-28,79.050003,79.419998,78.839996,79.410004,6228400,79.410004,3959,iShares Gold Trust,IAU,IAU,Yahoo
0,2025-11-28,174.139999,174.399994,172.839996,173.830002,1007100,173.830002,2914,iShares Biotechnology ETF,IBB(HB),IBB,Yahoo
0,2025-11-28,97.629997,97.650002,97.389999,97.500000,7798000,97.500000,3981,iShares 7-10 Year Treasury Bond ETF,IEF,IEF,Yahoo
0,2025-11-28,66.690002,67.080002,66.690002,66.989998,117500,66.989998,252,iShs Europe ETF,IEV(HB),IEV,Yahoo
0,2025-11-28,62.709999,63.119999,62.610001,63.060001,248700,63.060001,3934,iShares Global Infrastructure ETF,IGF,IGF,Yahoo
0,2025-11-28,51.700001,51.730000,51.490002,51.619999,1195600,51.619999,3994,iShares 10+ Year Investment Grade Corporate Bo...,IGLB,IGLB,Yahoo
0,2025-11-28,53.139999,53.150002,53.090000,53.110001,1180800,53.110001,3979,iShares 1-5 Year Investment Grade Corporate Bo...,IGSB,IGSB,Yahoo
0,2025-11-28,103.250000,104.169998,103.209999,104.089996,2751100,104.089996,2915,iShs Expanded Tech Software,IGV(HB),IGV,Yahoo
0,2025-11-28,64.290001,64.470001,64.120003,64.360001,283900,64.360001,2916,iShs US Medical Dev ETF,IHI(HB),IHI,Yahoo
0,2025-11-28,131.729996,132.210007,131.479996,131.990005,45800,131.990005,3923,iShares S&P Mid-Cap 400 Value ETF,IJJ,IJJ,Yahoo
0,2025-11-28,97.150002,97.440002,96.830002,97.370003,54000,97.370003,3926,iShares S&P Mid-Cap 400 Growth ETF,IJK,IJK,Yahoo
0,2025-11-28,120.970001,121.080002,120.559998,120.870003,2617800,120.870003,3899,iShares Core S&P Small-Cap ETF,IJR,IJR,Yahoo
0,2025-11-28,113.440002,113.470001,113.010002,113.360001,79300,113.360001,3918,iShares S&P Small-Cap 600 Value ETF,IJS,IJS,Yahoo
0,2025-11-28,143.360001,143.360001,142.630005,143.080002,31100,143.080002,3930,iShares S&P Small-Cap 600 Growth ETF,IJT,IJT,Yahoo
0,2025-11-28,31.049999,31.230000,30.950001,31.150000,1194000,31.150000,254,iShs Latin Am 40 ETF,ILF(HB),ILF,Yahoo
0,2025-11-28,65.150002,65.570000,65.150002,65.500000,12600,65.500000,2917,Columbia India Consumer ETF,INCO(HB),INCO,Yahoo
0,2025-11-28,54.610001,54.830002,54.555000,54.709999,3992690,54.709999,200,iShs MSCI India,INDA(HB),INDA,Yahoo
0,2025-11-28,51.689999,52.365002,51.811298,52.219799,5941,52.219799,3953,ETFMG Prime Mobile Payments ETF,IPAY,IPAY,Yahoo
0,2025-11-28,204.169998,205.179993,203.539993,205.100006,135800,205.100006,2918,iShs US Aerospace &Defense ETF,ITA(HB),ITA,Yahoo
0,2025-11-28,104.099998,104.120003,103.440002,103.910004,676600,103.910004,2919,iShs US Home Constr ETF,ITB(HB),ITB,Yahoo
0,2025-11-28,55.389999,55.839298,55.839298,55.839298,696,55.839298,248,BlueStar Israel Technology ETF,ITEQ(HB),ITEQ,Yahoo
0,2025-11-28,211.149994,212.419998,211.070007,212.419998,313400,212.419998,3907,iShares S&P 500 Value ETF,IVE,IVE,Yahoo
0,2025-11-28,123.300003,123.610001,123.120003,123.610001,1328900,123.610001,3904,iShares S&P 500 Growth ETF,IVW,IVW,Yahoo
0,2025-11-28,373.029999,374.640015,372.859985,374.440002,1007800,374.440002,3905,iShares Russell 1000 ETF,IWB,IWB,Yahoo
0,2025-11-28,208.940002,210.179993,208.710007,209.979996,4427200,209.979996,3901,iShares Russell 1000 Value ETF,IWD,IWD,Yahoo
0,2025-11-28,475.190002,476.649994,474.320007,476.450012,1148700,476.450012,3900,iShares Russell 1000 Growth ETF,IWF,IWF,Yahoo
0,2025-11-28,248.009995,248.809998,247.070007,248.750000,18911800,248.750000,193,iShs Russell 2000 ETF,IWM,IWM,Yahoo
0,2025-11-28,181.740005,182.309998,181.300003,182.229996,350800,182.229996,3912,iShares Russell 2000 Value ETF,IWN,IWN,Yahoo
0,2025-11-28,327.140015,328.390015,325.799988,328.119995,207600,328.119995,3917,iShares Russell 2000 Growth ETF,IWO,IWO,Yahoo
0,2025-11-28,138.419998,139.250000,138.050003,138.800003,492500,138.800003,3913,iShares Russell Mid-Cap Growth ETF,IWP,IWP,Yahoo
0,2025-11-28,96.629997,97.180000,96.470001,96.949997,1440800,96.949997,3906,iShares Russell Mid-Cap ETF,IWR,IWR,Yahoo
0,2025-11-28,141.250000,141.960007,141.000000,141.520004,181100,141.520004,3910,iShares Russell Mid-Cap Value ETF,IWS,IWS,Yahoo
0,2025-11-28,386.679993,388.140015,386.359985,388.140015,85500,388.140015,3915,iShares Russell 3000 ETF,IWV,IWV,Yahoo
0,2025-11-28,116.250000,117.070000,116.250000,116.910004,8800,116.910004,2920,iShs Glb Fin ETF,IXG(HB),IXG,Yahoo
0,2025-11-28,98.910004,98.980003,98.300003,98.720001,90600,98.720001,2921,iShs Glb Hlth ETF,IXJ(HB),IXJ,Yahoo
0,2025-11-28,103.839996,104.500000,103.669998,104.500000,452400,104.500000,2922,iShs Global Tech ETF,IXN(HB),IXN,Yahoo
0,2025-11-28,124.269997,124.860001,124.059998,124.620003,26100,124.620003,2923,iShs Glb Comm Srvcs ETF,IXP(HB),IXP,Yahoo
0,2025-11-28,102.139999,102.809998,102.139999,102.660004,21000,102.660004,3950,iShares U.S. Consumer Discretionary ETF,IYC,IYC,Yahoo
0,2025-11-28,125.410004,126.480003,125.379997,125.970001,146300,125.970001,3941,iShares U.S. Financials ETF,IYF,IYF,Yahoo
0,2025-11-28,72.620003,73.199997,72.540001,72.980003,310400,72.980003,198,iShs Transp Avg ETF,IYT(HB),IYT,Yahoo
0,2025-11-28,32.520000,32.770000,32.410000,32.770000,464400,32.770000,2924,iShs US Telecom ETF,IYZ(HB),IYZ,Yahoo
0,2025-11-28,50.709999,50.740002,50.700001,50.730000,1554449,50.730000,3993,Janus Henderson AAA CLO ETF,JAAA,JAAA,Yahoo
0,2025-11-28,26.260000,26.459999,26.235001,26.309999,1708727,26.309999,3938,U.S. Global Jets ETF,JETS,JETS,Yahoo
0,2025-11-28,81.529999,81.889999,81.419998,81.860001,10300,81.860001,2925,iShs Global Utilities ETF,JXI(HB),JXI,Yahoo
0,2025-11-28,59.180000,59.320000,58.919998,58.980000,509000,58.980000,2926,SPDR S&P Bank ETF,KBE(HB),KBE,Yahoo
0,2025-11-28,78.839996,79.699997,78.839996,79.320000,638500,79.320000,3942,Invesco KBW Bank ETF,KBWB,KBWB,Yahoo
0,2025-11-28,15.670000,15.670000,15.590000,15.640000,98400,15.640000,2927,Invesco KBW Premium REIT,KBWY(HB),KBWY,Yahoo
0,2025-11-28,60.090000,60.320000,59.950001,60.009998,1256200,60.009998,2928,SPDR S&P Insurance,KIE(HB),KIE,Yahoo
0,2025-11-28,33.990002,34.500000,33.990002,34.220001,15227,34.220001,3965,KraneShares Global Carbon Strategy ETF,KRBN,KRBN,Yahoo
0,2025-11-28,63.200001,63.380001,62.880001,62.990002,6876100,62.990002,3935,SPDR S&P Regional Banking ETF,KRE,KRE,Yahoo
0,2025-11-28,37.320000,37.445801,37.282001,37.439999,148846,37.439999,250,iShs MSCI Saudi Arabia ETF,KSA(HB),KSA,Yahoo
0,2025-11-28,37.500000,37.679901,37.360001,37.570000,10107498,37.570000,3919,KraneShares CSI China Internet ETF,KWEB,KWEB,Yahoo

## Filtro específico para ocasiones especiales

In [61]:
# df_y=df_y.loc[df_y.DatoFecha==df_y.DatoFecha[0].tolist()[0],:].copy()

In [62]:
import pandas as pd
from IPython.display import display

# Ajustar la configuración de visualización de pandas
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# ...

solicitados = len(y_descarga)
recibidos = len(df_y)
print('Del total de {} datos solicitados, se recibieron {} datos.'.format(solicitados, recibidos))

df_y_backup = df_y.copy()

print('Indices faltantes:')
display(missing)

print('DataFrame completo:')
display(df_y)

Del total de 259 datos solicitados, se recibieron 247 datos.
Indices faltantes:

['CC=F',
 'EGPT',
 'ERUS',
 'EWGS',
 'GRES',
 'GXG',
 'JJU',
 'PBS',
 'GLCN',
 'RSX',
 'DC=F',
 'CSC=F']

DataFrame completo:

,DatoFecha,D_Open,D_High,D_Low,D_Close,D_Volume,D_OpenInterest,IdIndiceEspecifico,Descripcion,IdTD,IdTicker,Source
0,2025-11-28,108.080002,110.680000,109.160004,110.410004,374,110.410004,3006,Blmbg Commodity Index,$BCOM(D),AW=F,Yahoo
0,2025-11-28,23291.589844,23365.789062,23250.509766,23365.689453,4541070000,23365.689453,2990,Nasdaq Composite Index,$COMPX,^IXIC,Yahoo
0,2025-11-28,6822.520020,6850.859863,6819.750000,6849.089844,2558540000,6849.089844,2986,S&P 500 Index,$INX,^GSPC,Yahoo
0,2025-11-28,423.000000,448.500000,443.500000,447.750000,78853,447.750000,3011,Corn Continuous Contract [Sep21],@C(D),ZC=F,Yahoo
0,2025-11-28,58.580002,59.639999,58.270000,58.549999,138365,58.549999,3013,Crude Oil Continuous Contract [Sep21],@CL(D),CL=F,Yahoo
0,2025-11-28,64.230003,64.949997,64.419998,62.910000,12848,62.910000,3014,Cotton No. 2 Continuous Contract [Dec21],@CT(D),CT=F,Yahoo
0,2025-11-28,99.540001,99.779999,99.324997,99.407997,13371,99.407997,3001,U.S. Dollar Index Continuous Contract [Sep21],@DX(D),DX=F,Yahoo
0,2025-11-28,4163.399902,4223.899902,4174.600098,4218.299805,149887,4218.299805,3015,Gold Continuous Contract [Aug21],@GC(D),GC=F,Yahoo
0,2025-11-28,5.119500,5.215000,5.055000,5.185500,31863,5.185500,3016,Copper Continuous Contract [Sep21],@HG(D),HG=F,Yahoo
0,2025-11-28,2.268400,2.351000,2.262400,2.333000,18362,2.333000,3017,Heating Oil Continuous Contract [Aug21],@HO(D),HO=F,Yahoo
0,2025-11-28,412.500000,368.200012,360.799988,364.000000,8481,364.000000,3018,Coffee C Continuous Contract [Sep21],@KC(D),KC=F,Yahoo
0,2025-11-28,208.425003,219.074997,213.274994,217.850006,8755,217.850006,3019,Live Cattle Continuous Contract [Aug21],@LC(D),LE=F,Yahoo
0,2025-11-28,79.050003,82.275002,80.800003,80.599998,14617,80.599998,3020,Lean Hogs Continuous Contract [Aug21],@LH(D),HE=F,Yahoo
0,2025-11-28,4.618000,4.871000,4.527000,4.850000,118167,4.850000,3021,Natural Gas Continuous Contract [Aug21],@NG(D),NG=F,Yahoo
0,2025-11-28,142.750000,158.149994,148.399994,156.050003,732,156.050003,3023,Frozen Concentrated OJ Continuous Contract [Se...,@OJ(D),OJ=F,Yahoo
0,2025-11-28,1125.500000,1138.750000,1129.750000,1137.750000,33561,1137.750000,3025,Soybeans Continuous Contract [Nov21],@S(D),ZS=F,Yahoo
0,2025-11-28,14.900000,14.820000,14.620000,14.730000,18982,14.730000,3026,Sugar No. 11 Continuous Contract [Oct21],@SB(D),SB=F,Yahoo
0,2025-11-28,53.075001,57.244999,52.549999,57.162998,95722,57.162998,3027,Silver Continuous Contract [Sep21],@SI(D),SI=F,Yahoo
0,2025-11-28,538.500000,532.250000,527.250000,531.000000,21887,531.000000,3028,Wheat Continuous Contract [Sep21],@W(D),ZW=F,Yahoo
0,2025-11-28,92.330002,92.730003,92.239998,92.660004,184700,92.660004,3933,iShares MSCI All Country Asia ex Japan ETF,AAXJ,AAXJ,Yahoo
0,2025-11-28,92.120003,93.370003,91.400002,93.180000,211200,93.180000,239,Glbl X MSCI Argentina ETF,ARGT(HB),ARGT,Yahoo
0,2025-11-28,49.320000,49.794998,49.099998,49.580002,170856,49.580002,3948,ARK Fintech Innovation ETF,ARKF,ARKF,Yahoo
0,2025-11-28,31.000000,31.190001,30.650000,31.190001,1111756,31.190001,3939,ARK Genomic Revolution ETF,ARKG,ARKG,Yahoo
0,2025-11-28,79.040001,79.800003,78.650002,79.680000,3346976,79.680000,3921,ARK Innovation ETF,ARKK,ARKK,Yahoo
0,2025-11-28,151.399994,152.860001,151.375000,152.399994,52060,152.399994,3945,ARK Next Generation Internet ETF,ARKW,ARKW,Yahoo
0,2025-11-28,32.459999,32.610001,32.474998,32.580002,3527382,32.580002,3936,Xtrackers Harvest CSI 300 China A-Shares ETF,ASHR,ASHR,Yahoo
0,2025-11-28,14.560000,14.580000,14.130000,14.200000,15863131,14.200000,3995,ProShares Bitcoin Strategy ETF,BITO,BITO,Yahoo
0,2025-11-28,42.220001,42.380001,42.080002,42.380001,1800,42.380001,2901,VanEck Vctrs Gaming ETF,BJK(HB),BJK,Yahoo
0,2025-11-28,62.000000,63.220001,61.863602,62.580002,249156,62.580002,3958,Amplify Transformational Data Sharing ETF,BLOK,BLOK,Yahoo
0,2025-11-28,74.860001,74.879997,74.709999,74.779999,4812100,74.779999,3973,Vanguard Total Bond Market ETF,BND,BND,Yahoo
0,2025-11-28,28.900000,29.250000,28.900000,29.170000,418300,29.170000,3971,United States Brent Oil Fund LP,BNO,BNO,Yahoo
0,2025-11-28,35.110001,35.256500,35.080002,35.169998,276307,35.169998,3944,Global X Robotics & Artificial Intelligence ETF,BOTZ,BOTZ,Yahoo
0,2025-11-28,75.699997,76.320000,75.699997,76.099998,1200,76.099998,3530,First Trust NASDAQ Global Auto,CARZ(HB),CARZ,Yahoo
0,2025-11-28,64.349998,64.489998,64.250000,64.480003,10600,64.480003,2902,Invesco S&P Global Water,CGW(HB),CGW,Yahoo
0,2025-11-28,22.129999,22.190001,21.969999,22.090000,72000,22.090000,2903,Global X MSCI China Cons Disc,CHIQ,CHIQ,Yahoo
0,2025-11-28,73.419998,73.790001,73.239998,73.650002,293896,73.650002,3929,First Trust NASDAQ Cybersecurity ETF,CIBR,CIBR,Yahoo
0,2025-11-28,63.650002,64.580002,63.430000,64.300003,2151200,64.300003,3972,Global X Copper Miners ETF,COPX,COPX,Yahoo
0,2025-11-28,52.540001,52.700001,52.400002,52.619999,256800,52.619999,215,Invesco China Tech,CQQQ,CQQQ,Yahoo
0,2025-11-28,28.840000,28.950001,28.840000,28.950001,1000,28.950001,2904,Invesco MSCI Global Timber,CUT(HB),CUT,Yahoo
0,2025-11-28,89.709999,90.620003,89.709999,90.570000,165500,90.570000,3990,SPDR Bloomberg Convertible Securities ETF,CWB,CWB,Yahoo
0,2025-11-28,26.180000,26.430000,26.180000,26.420000,115800,26.420000,3964,Invesco DB Agriculture Fund,DBA,DBA,Yahoo
0,2025-11-28,22.940001,23.090000,22.920000,23.059999,236100,23.059999,3961,Invesco DB Commodity Index Tracking Fund,DBC,DBC,Yahoo
0,2025-11-28,18.889999,19.040001,18.889999,19.040001,4300,19.040001,3970,Invesco DB Energy Fund,DBE,DBE,Yahoo
0,2025-11-28,95.629997,95.830002,95.559998,95.739998,1900,95.739998,199,WisdomTree Japan SmallCap,DFJ,DFJ,Yahoo
0,2025-11-28,474.820007,477.609985,474.820007,477.179993,2281800,477.179993,195,SPDR DJ Industrial Average ETF,DIA,DIA,Yahoo
0,2025-11-28,37.740002,37.840000,37.490002,37.820000,28300,37.820000,3968,iPath Bloomberg Commodity Index Total Return ETN,DJP,DJP,Yahoo
0,2025-11-28,29.219999,29.490000,29.219999,29.482201,35036,29.482201,3947,Global X Autonomous & Electric Vehicles ETF,DRIV,DRIV,Yahoo
0,2025-11-28,38.000000,38.040001,37.770000,37.860001,858600,37.860001,242,iShs MSCI Chile ETF,ECH,ECH,Yahoo
0,2025-11-28,27.120001,27.219999,27.120001,27.180000,8200,27.180000,2905,Columbia Emrgng Mrkts Consumer,ECON(HB),ECON,Yahoo
0,2025-11-28,111.150002,111.154999,110.724998,111.186996,3362,111.186996,229,iShs MSCI Denmark ETF,EDEN(HB),EDEN,Yahoo
0,2025-11-28,54.160000,54.369999,54.119999,54.320000,15057500,54.320000,255,iShs MSCI Emerg Mkt ETF,EEM,EEM,Yahoo
0,2025-11-28,94.839996,95.220001,94.739998,95.190002,8136000,95.190002,3902,iShares MSCI EAFE ETF,EFA,EFA,Yahoo
0,2025-11-28,113.620003,114.099998,113.489998,114.050003,568400,114.050003,3920,iShares MSCI EAFE Growth ETF,EFG,EFG,Yahoo
0,2025-11-28,45.430000,45.517899,45.517899,45.517899,579,45.517899,228,iShs MSCI Finland ETF,EFNL(HB),EFNL,Yahoo
0,2025-11-28,70.110001,70.309998,69.989998,70.269997,1450600,70.269997,3909,iShares MSCI EAFE Value ETF,EFV,EFV,Yahoo
0,2025-11-28,18.610001,18.680000,18.559999,18.670000,221700,18.670000,202,iShs MSCI Indonesia ETF,EIDO(HB),EIDO,Yahoo
0,2025-11-28,72.160004,72.839996,72.160004,72.839996,1500,72.839996,233,iShs MSCI Ireland ETF,EIRL(HB),EIRL,Yahoo
0,2025-11-28,103.459999,103.860001,103.160004,103.760002,39800,103.760002,249,iShrs MSCI Israel ETF,EIS(HB),EIS,Yahoo
0,2025-11-28,96.750000,96.800003,96.610001,96.730003,2628400,96.730003,3984,iShares JP Morgan USD Emerging Markets Bond ETF,EMB,EMB,Yahoo
0,2025-11-28,25.549999,25.600000,25.549999,25.600000,1111900,25.600000,3992,VanEck J.P. Morgan EM Local Currency Bond ETF,EMLC,EMLC,Yahoo
0,2025-11-28,42.650002,42.791599,42.700001,42.730000,7687,42.730000,3951,Emerging Markets Internet & Ecommerce ETF,EMQQ,EMQQ,Yahoo
0,2025-11-28,70.970001,71.209999,70.860001,71.180000,194556,71.180000,3940,iShares MSCI Emerging Markets ex China ETF,EMXC,EMXC,Yahoo
0,2025-11-28,45.470001,45.630001,45.060001,45.630001,3000,45.630001,208,iShs MSCI New Z'land ETF,ENZL(HB),ENZL,Yahoo
0,2025-11-28,25.010000,25.230000,25.010000,25.209999,171400,25.209999,209,iShs MSCI Philippines ETF,EPHE(HB),EPHE,Yahoo
0,2025-11-28,33.889999,34.090000,33.799999,34.070000,116900,34.070000,219,iShs MSCI Poland ETF,EPOL(HB),EPOL,Yahoo
0,2025-11-28,64.089996,64.959999,64.089996,64.470001,18500,64.470001,243,iShs MSCI All Peru ETF,EPU(HB),EPU,Yahoo
0,2025-11-28,34.950001,35.020000,34.860001,35.000000,285700,35.000000,2906,iShs MSCI Euro Finl ETF,EUFN(HB),EUFN,Yahoo
0,2025-11-28,1.160025,1.160672,1.155735,1.159985,0,1.159985,312,Euro / US Dollar,EURUSD,EURUSD=X,Yahoo
0,2025-11-28,25.760000,25.900000,25.750000,25.850000,1440600,25.850000,206,iShs MSCI Australia ETF,EWA,EWA,Yahoo
0,2025-11-28,52.450001,52.759998,52.340000,52.700001,910400,52.700001,240,iShs MSCI Canada ETF,EWC(HB),EWC,Yahoo
0,2025-11-28,47.590000,48.000000,47.590000,47.910000,50400,47.910000,218,iShs MSCI Sweden ETF,EWD(HB),EWD,Yahoo
0,2025-11-28,40.740002,40.919998,40.700001,40.919998,1289400,40.919998,235,iShs MSCI Germany ETF,EWG(HB),EWG,Yahoo
0,2025-11-28,22.180000,22.250000,22.160000,22.240000,1071800,22.240000,211,iShs MSCI Hong Kong ETF,EWH,EWH,Yahoo
0,2025-11-28,52.639999,52.939999,52.639999,52.930000,176900,52.930000,220,iShs MSCI Italy ETF,EWI(HB),EWI,Yahoo
0,2025-11-28,82.839996,83.040001,82.750000,83.010002,2711800,83.010002,201,iShs MSCI Japan ETF,EWJ(HB),EWJ,Yahoo
0,2025-11-28,24.360001,24.360001,24.200001,24.280001,9000,24.280001,231,iShs MSCI Belgium ETF,EWK(HB),EWK,Yahoo
0,2025-11-28,57.529999,57.840000,57.430000,57.820000,256800,57.820000,224,iShs MSCI Switzerland ETF,EWL(HB),EWL,Yahoo
0,2025-11-28,26.280001,26.459999,26.280001,26.430000,262300,26.430000,210,iShs MSCI Malaysia ETF,EWM,EWM,Yahoo
0,2025-11-28,57.779999,58.169998,57.689999,58.169998,10300,58.169998,226,iShs MSCI Netherlands ETF,EWN(HB),EWN,Yahoo
0,2025-11-28,32.860001,33.000000,32.770000,33.000000,24900,33.000000,232,iShs MSCI Austria ETF,EWO(HB),EWO,Yahoo
0,2025-11-28,51.400002,51.689999,51.380001,51.660000,694800,51.660000,221,iShs MSCI Spain ETF,EWP(HB),EWP,Yahoo
0,2025-11-28,44.400002,44.619999,44.320000,44.570000,85700,44.570000,2907,iShs MSCI France ETF,EWQ(HB),EWQ,Yahoo
0,2025-11-28,28.209999,28.430000,28.180000,28.389999,577600,28.389999,205,iShs MSCI Singapore ETF,EWS,EWS,Yahoo
0,2025-11-28,64.370003,64.540001,64.120003,64.510002,4233300,64.510002,204,iShs MSCI Taiwan ETF,EWT(HB),EWT,Yahoo
0,2025-11-28,43.040001,43.220001,43.009998,43.150002,718200,43.150002,227,iShs MSCI UK ETF,EWU(HB),EWU,Yahoo
0,2025-11-28,40.889999,41.099998,40.889999,41.099998,5492,41.099998,236,iShs MSCI United Kingdom,EWUS(HB),EWUS,Yahoo
0,2025-11-28,67.599998,68.540001,67.290001,68.419998,543500,68.419998,245,iShs MSCI Mexico ETF,EWW,EWW,Yahoo
0,2025-11-28,90.529999,91.010002,90.500000,90.870003,2704900,90.870003,207,iShs MSCI S Korea ETF,EWY(HB),EWY,Yahoo
0,2025-11-28,33.590000,33.669998,33.439999,33.610001,15012400,33.610001,241,iShs MSCI Brazil ETF,EWZ,EWZ,Yahoo
0,2025-11-28,14.040000,14.180000,14.000000,14.160000,341400,14.160000,244,iShs MSCI Brazil SmCap ETF,EWZS(HB),EWZS,Yahoo
0,2025-11-28,67.000000,67.000000,66.449997,66.739998,260300,66.739998,246,iShs MSCI So Africa ETF,EZA(HB),EZA,Yahoo
0,2025-11-28,71.870003,72.269997,71.800003,72.250000,48870,72.250000,3956,Fidelity MSCI Communication Services Index ETF,FCOM,FCOM,Yahoo
0,2025-11-28,268.320007,270.230011,268.299988,270.160004,523900,270.160004,2908,First Trust DJ Internet,FDN(HB),FDN,Yahoo
0,2025-11-28,30.230000,30.730000,30.200100,30.675900,27625,30.675900,3955,Global X FinTech ETF,FINX,FINX,Yahoo
0,2025-11-28,51.040001,51.070000,51.040001,51.070000,963100,51.070000,3986,iShares Floating Rate Bond ETF,FLOT,FLOT,Yahoo
0,2025-11-28,21.770000,21.879999,21.770000,21.857300,27181,21.857300,3949,First Trust Nasdaq Food & Beverage ETF,FTXG,FTXG,Yahoo
0,2025-11-28,127.169998,127.510002,127.169998,127.360001,3500,127.360001,3002,Invesc CurrShs British Pound,FXB(HB),FXB,Yahoo
0,2025-11-28,106.820000,107.099998,106.800003,107.089996,48700,107.089996,3003,Invesc CurrShs Euro Trust,FXE(HB),FXE,Yahoo
0,2025-11-28,39.430000,39.619999,39.410000,39.529999,11699800,39.529999,213,iShs China Large-Cap ETF,FXI,FXI,Yahoo
0,2025-11-28,58.860001,58.970001,58.820000,58.919998,193400,58.919998,3004,Invesc CurrShs Japanese Yen,FXY(HB),FXY,Yahoo
0,2025-11-28,1.324135,1.325082,1.320184,1.324118,0,1.324118,2965,British Pound / US Dollar,GBPUSD,GBPUSD=X,Yahoo
0,2025-11-28,82.260002,83.279999,81.769997,83.230003,15906800,83.230003,2909,VanEck Vctrs Gold Miners ETF,GDX,GDX,Yahoo
0,2025-11-28,71.330002,71.820000,71.250000,71.820000,13100,71.820000,2910,SPDR S&P Glbl Infra ETF,GII(HB),GII,Yahoo
0,2025-11-28,183.940002,186.490005,183.559998,186.490005,148600,186.490005,3966,Aberdeen Standard Physical Precious Metals Bas...,GLTR,GLTR,Yahoo
0,2025-11-28,60.910000,61.230000,60.820000,61.060001,66400,61.060001,2911,SPDR S&P Gl Natural Resources,GNR(HB),GNR,Yahoo
0,2025-11-28,65.639999,65.639999,64.559998,65.320000,113100,65.320000,223,Global X MSCI Greece ETF,GREK(HB),GREK,Yahoo
0,2025-11-28,99.239998,99.690002,99.239998,99.570000,3300,99.570000,212,SPDR S&P China,GXC(HB),GXC,Yahoo
0,2025-11-28,17.719999,17.870001,17.580000,17.629999,4331500,17.629999,3557,Host Hotels & Resorts Inc,HST,HST,Yahoo
0,2025-11-28,51.180000,51.180000,51.070000,51.099998,246200,51.099998,3991,VanEck High Yield Muni ETF,HYD,HYD,Yahoo
0,2025-11-28,81.000000,81.070000,80.940002,80.989998,29430800,80.989998,3985,iShares iBoxx USD High Yield Corporate Bond ETF,HYG,HYG,Yahoo
0,2025-11-28,175.250000,176.559998,175.160004,175.770004,19400,175.770004,2913,iShs US Broker-Dealers & Sec,IAI(HB),IAI,Yahoo
0,2025-11-28,79.050003,79.419998,78.839996,79.410004,6228400,79.410004,3959,iShares Gold Trust,IAU,IAU,Yahoo
0,2025-11-28,174.139999,174.399994,172.839996,173.830002,1007100,173.830002,2914,iShares Biotechnology ETF,IBB(HB),IBB,Yahoo
0,2025-11-28,97.629997,97.650002,97.389999,97.500000,7798000,97.500000,3981,iShares 7-10 Year Treasury Bond ETF,IEF,IEF,Yahoo
0,2025-11-28,66.690002,67.080002,66.690002,66.989998,117500,66.989998,252,iShs Europe ETF,IEV(HB),IEV,Yahoo
0,2025-11-28,62.709999,63.119999,62.610001,63.060001,248700,63.060001,3934,iShares Global Infrastructure ETF,IGF,IGF,Yahoo
0,2025-11-28,51.700001,51.730000,51.490002,51.619999,1195600,51.619999,3994,iShares 10+ Year Investment Grade Corporate Bo...,IGLB,IGLB,Yahoo
0,2025-11-28,53.139999,53.150002,53.090000,53.110001,1180800,53.110001,3979,iShares 1-5 Year Investment Grade Corporate Bo...,IGSB,IGSB,Yahoo
0,2025-11-28,103.250000,104.169998,103.209999,104.089996,2751100,104.089996,2915,iShs Expanded Tech Software,IGV(HB),IGV,Yahoo
0,2025-11-28,64.290001,64.470001,64.120003,64.360001,283900,64.360001,2916,iShs US Medical Dev ETF,IHI(HB),IHI,Yahoo
0,2025-11-28,131.729996,132.210007,131.479996,131.990005,45800,131.990005,3923,iShares S&P Mid-Cap 400 Value ETF,IJJ,IJJ,Yahoo
0,2025-11-28,97.150002,97.440002,96.830002,97.370003,54000,97.370003,3926,iShares S&P Mid-Cap 400 Growth ETF,IJK,IJK,Yahoo
0,2025-11-28,120.970001,121.080002,120.559998,120.870003,2617800,120.870003,3899,iShares Core S&P Small-Cap ETF,IJR,IJR,Yahoo
0,2025-11-28,113.440002,113.470001,113.010002,113.360001,79300,113.360001,3918,iShares S&P Small-Cap 600 Value ETF,IJS,IJS,Yahoo
0,2025-11-28,143.360001,143.360001,142.630005,143.080002,31100,143.080002,3930,iShares S&P Small-Cap 600 Growth ETF,IJT,IJT,Yahoo
0,2025-11-28,31.049999,31.230000,30.950001,31.150000,1194000,31.150000,254,iShs Latin Am 40 ETF,ILF(HB),ILF,Yahoo
0,2025-11-28,65.150002,65.570000,65.150002,65.500000,12600,65.500000,2917,Columbia India Consumer ETF,INCO(HB),INCO,Yahoo
0,2025-11-28,54.610001,54.830002,54.555000,54.709999,3992690,54.709999,200,iShs MSCI India,INDA(HB),INDA,Yahoo
0,2025-11-28,51.689999,52.365002,51.811298,52.219799,5941,52.219799,3953,ETFMG Prime Mobile Payments ETF,IPAY,IPAY,Yahoo
0,2025-11-28,204.169998,205.179993,203.539993,205.100006,135800,205.100006,2918,iShs US Aerospace &Defense ETF,ITA(HB),ITA,Yahoo
0,2025-11-28,104.099998,104.120003,103.440002,103.910004,676600,103.910004,2919,iShs US Home Constr ETF,ITB(HB),ITB,Yahoo
0,2025-11-28,55.389999,55.839298,55.839298,55.839298,696,55.839298,248,BlueStar Israel Technology ETF,ITEQ(HB),ITEQ,Yahoo
0,2025-11-28,211.149994,212.419998,211.070007,212.419998,313400,212.419998,3907,iShares S&P 500 Value ETF,IVE,IVE,Yahoo
0,2025-11-28,123.300003,123.610001,123.120003,123.610001,1328900,123.610001,3904,iShares S&P 500 Growth ETF,IVW,IVW,Yahoo
0,2025-11-28,373.029999,374.640015,372.859985,374.440002,1007800,374.440002,3905,iShares Russell 1000 ETF,IWB,IWB,Yahoo
0,2025-11-28,208.940002,210.179993,208.710007,209.979996,4427200,209.979996,3901,iShares Russell 1000 Value ETF,IWD,IWD,Yahoo
0,2025-11-28,475.190002,476.649994,474.320007,476.450012,1148700,476.450012,3900,iShares Russell 1000 Growth ETF,IWF,IWF,Yahoo
0,2025-11-28,248.009995,248.809998,247.070007,248.750000,18911800,248.750000,193,iShs Russell 2000 ETF,IWM,IWM,Yahoo
0,2025-11-28,181.740005,182.309998,181.300003,182.229996,350800,182.229996,3912,iShares Russell 2000 Value ETF,IWN,IWN,Yahoo
0,2025-11-28,327.140015,328.390015,325.799988,328.119995,207600,328.119995,3917,iShares Russell 2000 Growth ETF,IWO,IWO,Yahoo
0,2025-11-28,138.419998,139.250000,138.050003,138.800003,492500,138.800003,3913,iShares Russell Mid-Cap Growth ETF,IWP,IWP,Yahoo
0,2025-11-28,96.629997,97.180000,96.470001,96.949997,1440800,96.949997,3906,iShares Russell Mid-Cap ETF,IWR,IWR,Yahoo
0,2025-11-28,141.250000,141.960007,141.000000,141.520004,181100,141.520004,3910,iShares Russell Mid-Cap Value ETF,IWS,IWS,Yahoo
0,2025-11-28,386.679993,388.140015,386.359985,388.140015,85500,388.140015,3915,iShares Russell 3000 ETF,IWV,IWV,Yahoo
0,2025-11-28,116.250000,117.070000,116.250000,116.910004,8800,116.910004,2920,iShs Glb Fin ETF,IXG(HB),IXG,Yahoo
0,2025-11-28,98.910004,98.980003,98.300003,98.720001,90600,98.720001,2921,iShs Glb Hlth ETF,IXJ(HB),IXJ,Yahoo
0,2025-11-28,103.839996,104.500000,103.669998,104.500000,452400,104.500000,2922,iShs Global Tech ETF,IXN(HB),IXN,Yahoo
0,2025-11-28,124.269997,124.860001,124.059998,124.620003,26100,124.620003,2923,iShs Glb Comm Srvcs ETF,IXP(HB),IXP,Yahoo
0,2025-11-28,102.139999,102.809998,102.139999,102.660004,21000,102.660004,3950,iShares U.S. Consumer Discretionary ETF,IYC,IYC,Yahoo
0,2025-11-28,125.410004,126.480003,125.379997,125.970001,146300,125.970001,3941,iShares U.S. Financials ETF,IYF,IYF,Yahoo
0,2025-11-28,72.620003,73.199997,72.540001,72.980003,310400,72.980003,198,iShs Transp Avg ETF,IYT(HB),IYT,Yahoo
0,2025-11-28,32.520000,32.770000,32.410000,32.770000,464400,32.770000,2924,iShs US Telecom ETF,IYZ(HB),IYZ,Yahoo
0,2025-11-28,50.709999,50.740002,50.700001,50.730000,1554449,50.730000,3993,Janus Henderson AAA CLO ETF,JAAA,JAAA,Yahoo
0,2025-11-28,26.260000,26.459999,26.235001,26.309999,1708727,26.309999,3938,U.S. Global Jets ETF,JETS,JETS,Yahoo
0,2025-11-28,81.529999,81.889999,81.419998,81.860001,10300,81.860001,2925,iShs Global Utilities ETF,JXI(HB),JXI,Yahoo
0,2025-11-28,59.180000,59.320000,58.919998,58.980000,509000,58.980000,2926,SPDR S&P Bank ETF,KBE(HB),KBE,Yahoo
0,2025-11-28,78.839996,79.699997,78.839996,79.320000,638500,79.320000,3942,Invesco KBW Bank ETF,KBWB,KBWB,Yahoo
0,2025-11-28,15.670000,15.670000,15.590000,15.640000,98400,15.640000,2927,Invesco KBW Premium REIT,KBWY(HB),KBWY,Yahoo
0,2025-11-28,60.090000,60.320000,59.950001,60.009998,1256200,60.009998,2928,SPDR S&P Insurance,KIE(HB),KIE,Yahoo
0,2025-11-28,33.990002,34.500000,33.990002,34.220001,15227,34.220001,3965,KraneShares Global Carbon Strategy ETF,KRBN,KRBN,Yahoo
0,2025-11-28,63.200001,63.380001,62.880001,62.990002,6876100,62.990002,3935,SPDR S&P Regional Banking ETF,KRE,KRE,Yahoo
0,2025-11-28,37.320000,37.445801,37.282001,37.439999,148846,37.439999,250,iShs MSCI Saudi Arabia ETF,KSA(HB),KSA,Yahoo
0,2025-11-28,37.500000,37.679901,37.360001,37.570000,10107498,37.570000,3919,KraneShares CSI China Internet ETF,KWEB,KWEB,Yahoo

In [63]:
#Preparacion para correr esta seccion de nuevo.
lista_manual = missing

#### Se quiere recibir 257

## En caso de error... buscador de tickets para manual o intentar de nuevo.

Por si no retorna uno de los datos por un fallo inminente utilizar esto para buscar el índice que falló y luego ingresarlo manual en la base de datos

#### Datos no publicados:
- AW=F Para 2022-12-23 !

In [64]:
# missing=['EURUSD=X','GBPUSD=X','MXN=X']
df[df.IdTicker.isin(missing)]

,IdTD,IdTicker,Source,Descripcion,IdIndiceEspecifico
9,@CC(D),CC=F,Yahoo,Cocoa Continuous Contract [Sep21],3012
63,EGPT(HB),EGPT,Yahoo,VanEck Vctrs Egypt Idx,251
75,ERUS(HB),ERUS,Yahoo,iShs MSCI Russia ETF,237
82,EWGS(HB),EWGS,Yahoo,iShs MSCI Germany Sm Cap,234
117,GRES(HB),GRES,Yahoo,IQ Global Resources ETF,2912
119,GXG(HB),GXG,Yahoo,FTSE Colombia 20 ETF,238
167,JJU,JJU,Yahoo,iPath Series B Bloomberg Aluminum Subindex Tot...,3780
188,PBS(HB),PBS,Yahoo,Invesco Dynamic Media ETF,2932
192,PEK,GLCN,Yahoo,VanEck Vectors China Growth Leaders ETF,3774
207,RSX,RSX,Yahoo,VanEck Vctrs Russia ETF,285
264,DC=F,DC=F,Yahoo,Class III Milk,4020
265,CSC=F,CSC=F,Yahoo,Cash-Settled Cheese,4021

In [65]:
#Ejemplo para buscar faltantes:
#query= '''
#SELECT TOP(50) * FROM dbo.TablaDatos Where IdindiceEspecifico = 251 Order By DatoFecha Desc
#'''
#dfOJ = read_data_to_df(query)
#dfOJ[:]

## Unificación final y empacado de datos para base de datos

Aquí se unifican (Cuando está disponible) los índices de Yahoo e Investing y se empacan en el formato de TablaDatos

In [66]:
df_final=df_y.copy()
df_final.to_excel('FinancialMarkets.xlsx',index=False)
# display(df_final)

#Ordenar
df_final=df_final[['IdIndiceEspecifico',
     'DatoFecha',
     'D_Open',
     'D_High',
     'D_Low',
     'D_Close',
     'D_Volume',
     'D_OpenInterest']]
#Renombrar
df_final.columns=['IdIndiceEspecifico',
     'DatoFecha',
     'D_Open',
     'D_High',
     'D_Low',
     'D_Close',
     'D_Volume',
     'D_OpenInterest']
df_final.reset_index(inplace=True,drop=True)
df_f=df_final.copy() #Copia a final
df_f.reset_index(inplace=True,drop=True)


df_f.DatoFecha=df_final.loc[1,'DatoFecha']

In [67]:
df_f

,IdIndiceEspecifico,DatoFecha,D_Open,D_High,D_Low,D_Close,D_Volume,D_OpenInterest
0,3006,2025-11-28,108.080002,110.680000,109.160004,110.410004,374,110.410004
1,2990,2025-11-28,23291.589844,23365.789062,23250.509766,23365.689453,4541070000,23365.689453
2,2986,2025-11-28,6822.520020,6850.859863,6819.750000,6849.089844,2558540000,6849.089844
3,3011,2025-11-28,423.000000,448.500000,443.500000,447.750000,78853,447.750000
4,3013,2025-11-28,58.580002,59.639999,58.270000,58.549999,138365,58.549999
5,3014,2025-11-28,64.230003,64.949997,64.419998,62.910000,12848,62.910000
6,3001,2025-11-28,99.540001,99.779999,99.324997,99.407997,13371,99.407997
7,3015,2025-11-28,4163.399902,4223.899902,4174.600098,4218.299805,149887,4218.299805
8,3016,2025-11-28,5.119500,5.215000,5.055000,5.185500,31863,5.185500
9,3017,2025-11-28,2.268400,2.351000,2.262400,2.333000,18362,2.333000
10,3018,2025-11-28,412.500000,368.200012,360.799988,364.000000,8481,364.000000
11,3019,2025-11-28,208.425003,219.074997,213.274994,217.850006,8755,217.850006
12,3020,2025-11-28,79.050003,82.275002,80.800003,80.599998,14617,80.599998
13,3021,2025-11-28,4.618000,4.871000,4.527000,4.850000,118167,4.850000
14,3023,2025-11-28,142.750000,158.149994,148.399994,156.050003,732,156.050003
15,3025,2025-11-28,1125.500000,1138.750000,1129.750000,1137.750000,33561,1137.750000
16,3026,2025-11-28,14.900000,14.820000,14.620000,14.730000,18982,14.730000
17,3027,2025-11-28,53.075001,57.244999,52.549999,57.162998,95722,57.162998
18,3028,2025-11-28,538.500000,532.250000,527.250000,531.000000,21887,531.000000
19,3933,2025-11-28,92.330002,92.730003,92.239998,92.660004,184700,92.660004
20,239,2025-11-28,92.120003,93.370003,91.400002,93.180000,211200,93.180000
21,3948,2025-11-28,49.320000,49.794998,49.099998,49.580002,170856,49.580002
22,3939,2025-11-28,31.000000,31.190001,30.650000,31.190001,1111756,31.190001
23,3921,2025-11-28,79.040001,79.800003,78.650002,79.680000,3346976,79.680000
24,3945,2025-11-28,151.399994,152.860001,151.375000,152.399994,52060,152.399994
25,3936,2025-11-28,32.459999,32.610001,32.474998,32.580002,3527382,32.580002
26,3995,2025-11-28,14.560000,14.580000,14.130000,14.200000,15863131,14.200000
27,2901,2025-11-28,42.220001,42.380001,42.080002,42.380001,1800,42.380001
28,3958,2025-11-28,62.000000,63.220001,61.863602,62.580002,249156,62.580002
29,3973,2025-11-28,74.860001,74.879997,74.709999,74.779999,4812100,74.779999
30,3971,2025-11-28,28.900000,29.250000,28.900000,29.170000,418300,29.170000
31,3944,2025-11-28,35.110001,35.256500,35.080002,35.169998,276307,35.169998
32,3530,2025-11-28,75.699997,76.320000,75.699997,76.099998,1200,76.099998
33,2902,2025-11-28,64.349998,64.489998,64.250000,64.480003,10600,64.480003
34,2903,2025-11-28,22.129999,22.190001,21.969999,22.090000,72000,22.090000
35,3929,2025-11-28,73.419998,73.790001,73.239998,73.650002,293896,73.650002
36,3972,2025-11-28,63.650002,64.580002,63.430000,64.300003,2151200,64.300003
37,215,2025-11-28,52.540001,52.700001,52.400002,52.619999,256800,52.619999
38,2904,2025-11-28,28.840000,28.950001,28.840000,28.950001,1000,28.950001
39,3990,2025-11-28,89.709999,90.620003,89.709999,90.570000,165500,90.570000
40,3964,2025-11-28,26.180000,26.430000,26.180000,26.420000,115800,26.420000
41,3961,2025-11-28,22.940001,23.090000,22.920000,23.059999,236100,23.059999
42,3970,2025-11-28,18.889999,19.040001,18.889999,19.040001,4300,19.040001
43,199,2025-11-28,95.629997,95.830002,95.559998,95.739998,1900,95.739998
44,195,2025-11-28,474.820007,477.609985,474.820007,477.179993,2281800,477.179993
45,3968,2025-11-28,37.740002,37.840000,37.490002,37.820000,28300,37.820000
46,3947,2025-11-28,29.219999,29.490000,29.219999,29.482201,35036,29.482201
47,242,2025-11-28,38.000000,38.040001,37.770000,37.860001,858600,37.860001
48,2905,2025-11-28,27.120001,27.219999,27.120001,27.180000,8200,27.180000
49,229,2025-11-28,111.150002,111.154999,110.724998,111.186996,3362,111.186996
50,255,2025-11-28,54.160000,54.369999,54.119999,54.320000,15057500,54.320000
51,3902,2025-11-28,94.839996,95.220001,94.739998,95.190002,8136000,95.190002
52,3920,2025-11-28,113.620003,114.099998,113.489998,114.050003,568400,114.050003
53,228,2025-11-28,45.430000,45.517899,45.517899,45.517899,579,45.517899
54,3909,2025-11-28,70.110001,70.309998,69.989998,70.269997,1450600,70.269997
55,202,2025-11-28,18.610001,18.680000,18.559999,18.670000,221700,18.670000
56,233,2025-11-28,72.160004,72.839996,72.160004,72.839996,1500,72.839996
57,249,2025-11-28,103.459999,103.860001,103.160004,103.760002,39800,103.760002
58,3984,2025-11-28,96.750000,96.800003,96.610001,96.730003,2628400,96.730003
59,3992,2025-11-28,25.549999,25.600000,25.549999,25.600000,1111900,25.600000
60,3951,2025-11-28,42.650002,42.791599,42.700001,42.730000,7687,42.730000
61,3940,2025-11-28,70.970001,71.209999,70.860001,71.180000,194556,71.180000
62,208,2025-11-28,45.470001,45.630001,45.060001,45.630001,3000,45.630001
63,209,2025-11-28,25.010000,25.230000,25.010000,25.209999,171400,25.209999
64,219,2025-11-28,33.889999,34.090000,33.799999,34.070000,116900,34.070000
65,243,2025-11-28,64.089996,64.959999,64.089996,64.470001,18500,64.470001
66,2906,2025-11-28,34.950001,35.020000,34.860001,35.000000,285700,35.000000
67,312,2025-11-28,1.160025,1.160672,1.155735,1.159985,0,1.159985
68,206,2025-11-28,25.760000,25.900000,25.750000,25.850000,1440600,25.850000
69,240,2025-11-28,52.450001,52.759998,52.340000,52.700001,910400,52.700001
70,218,2025-11-28,47.590000,48.000000,47.590000,47.910000,50400,47.910000
71,235,2025-11-28,40.740002,40.919998,40.700001,40.919998,1289400,40.919998
72,211,2025-11-28,22.180000,22.250000,22.160000,22.240000,1071800,22.240000
73,220,2025-11-28,52.639999,52.939999,52.639999,52.930000,176900,52.930000
74,201,2025-11-28,82.839996,83.040001,82.750000,83.010002,2711800,83.010002
75,231,2025-11-28,24.360001,24.360001,24.200001,24.280001,9000,24.280001
76,224,2025-11-28,57.529999,57.840000,57.430000,57.820000,256800,57.820000
77,210,2025-11-28,26.280001,26.459999,26.280001,26.430000,262300,26.430000
78,226,2025-11-28,57.779999,58.169998,57.689999,58.169998,10300,58.169998
79,232,2025-11-28,32.860001,33.000000,32.770000,33.000000,24900,33.000000
80,221,2025-11-28,51.400002,51.689999,51.380001,51.660000,694800,51.660000
81,2907,2025-11-28,44.400002,44.619999,44.320000,44.570000,85700,44.570000
82,205,2025-11-28,28.209999,28.430000,28.180000,28.389999,577600,28.389999
83,204,2025-11-28,64.370003,64.540001,64.120003,64.510002,4233300,64.510002
84,227,2025-11-28,43.040001,43.220001,43.009998,43.150002,718200,43.150002
85,236,2025-11-28,40.889999,41.099998,40.889999,41.099998,5492,41.099998
86,245,2025-11-28,67.599998,68.540001,67.290001,68.419998,543500,68.419998
87,207,2025-11-28,90.529999,91.010002,90.500000,90.870003,2704900,90.870003
88,241,2025-11-28,33.590000,33.669998,33.439999,33.610001,15012400,33.610001
89,244,2025-11-28,14.040000,14.180000,14.000000,14.160000,341400,14.160000
90,246,2025-11-28,67.000000,67.000000,66.449997,66.739998,260300,66.739998
91,3956,2025-11-28,71.870003,72.269997,71.800003,72.250000,48870,72.250000
92,2908,2025-11-28,268.320007,270.230011,268.299988,270.160004,523900,270.160004
93,3955,2025-11-28,30.230000,30.730000,30.200100,30.675900,27625,30.675900
94,3986,2025-11-28,51.040001,51.070000,51.040001,51.070000,963100,51.070000
95,3949,2025-11-28,21.770000,21.879999,21.770000,21.857300,27181,21.857300
96,3002,2025-11-28,127.169998,127.510002,127.169998,127.360001,3500,127.360001
97,3003,2025-11-28,106.820000,107.099998,106.800003,107.089996,48700,107.089996
98,213,2025-11-28,39.430000,39.619999,39.410000,39.529999,11699800,39.529999
99,3004,2025-11-28,58.860001,58.970001,58.820000,58.919998,193400,58.919998
100,2965,2025-11-28,1.324135,1.325082,1.320184,1.324118,0,1.324118
101,2909,2025-11-28,82.260002,83.279999,81.769997,83.230003,15906800,83.230003
102,2910,2025-11-28,71.330002,71.820000,71.250000,71.820000,13100,71.820000
103,3966,2025-11-28,183.940002,186.490005,183.559998,186.490005,148600,186.490005
104,2911,2025-11-28,60.910000,61.230000,60.820000,61.060001,66400,61.060001
105,223,2025-11-28,65.639999,65.639999,64.559998,65.320000,113100,65.320000
106,212,2025-11-28,99.239998,99.690002,99.239998,99.570000,3300,99.570000
107,3557,2025-11-28,17.719999,17.870001,17.580000,17.629999,4331500,17.629999
108,3991,2025-11-28,51.180000,51.180000,51.070000,51.099998,246200,51.099998
109,3985,2025-11-28,81.000000,81.070000,80.940002,80.989998,29430800,80.989998
110,2913,2025-11-28,175.250000,176.559998,175.160004,175.770004,19400,175.770004
111,3959,2025-11-28,79.050003,79.419998,78.839996,79.410004,6228400,79.410004
112,2914,2025-11-28,174.139999,174.399994,172.839996,173.830002,1007100,173.830002
113,3981,2025-11-28,97.629997,97.650002,97.389999,97.500000,7798000,97.500000
114,252,2025-11-28,66.690002,67.080002,66.690002,66.989998,117500,66.989998
115,3934,2025-11-28,62.709999,63.119999,62.610001,63.060001,248700,63.060001
116,3994,2025-11-28,51.700001,51.730000,51.490002,51.619999,1195600,51.619999
117,3979,2025-11-28,53.139999,53.150002,53.090000,53.110001,1180800,53.110001
118,2915,2025-11-28,103.250000,104.169998,103.209999,104.089996,2751100,104.089996
119,2916,2025-11-28,64.290001,64.470001,64.120003,64.360001,283900,64.360001
120,3923,2025-11-28,131.729996,132.210007,131.479996,131.990005,45800,131.990005
121,3926,2025-11-28,97.150002,97.440002,96.830002,97.370003,54000,97.370003
122,3899,2025-11-28,120.970001,121.080002,120.559998,120.870003,2617800,120.870003
123,3918,2025-11-28,113.440002,113.470001,113.010002,113.360001,79300,113.360001
124,3930,2025-11-28,143.360001,143.360001,142.630005,143.080002,31100,143.080002
125,254,2025-11-28,31.049999,31.230000,30.950001,31.150000,1194000,31.150000
126,2917,2025-11-28,65.150002,65.570000,65.150002,65.500000,12600,65.500000
127,200,2025-11-28,54.610001,54.830002,54.555000,54.709999,3992690,54.709999
128,3953,2025-11-28,51.689999,52.365002,51.811298,52.219799,5941,52.219799
129,2918,2025-11-28,204.169998,205.179993,203.539993,205.100006,135800,205.100006
130,2919,2025-11-28,104.099998,104.120003,103.440002,103.910004,676600,103.910004
131,248,2025-11-28,55.389999,55.839298,55.839298,55.839298,696,55.839298
132,3907,2025-11-28,211.149994,212.419998,211.070007,212.419998,313400,212.419998
133,3904,2025-11-28,123.300003,123.610001,123.120003,123.610001,1328900,123.610001
134,3905,2025-11-28,373.029999,374.640015,372.859985,374.440002,1007800,374.440002
135,3901,2025-11-28,208.940002,210.179993,208.710007,209.979996,4427200,209.979996
136,3900,2025-11-28,475.190002,476.649994,474.320007,476.450012,1148700,476.450012
137,193,2025-11-28,248.009995,248.809998,247.070007,248.750000,18911800,248.750000
138,3912,2025-11-28,181.740005,182.309998,181.300003,182.229996,350800,182.229996
139,3917,2025-11-28,327.140015,328.390015,325.799988,328.119995,207600,328.119995
140,3913,2025-11-28,138.419998,139.250000,138.050003,138.800003,492500,138.800003
141,3906,2025-11-28,96.629997,97.180000,96.470001,96.949997,1440800,96.949997
142,3910,2025-11-28,141.250000,141.960007,141.000000,141.520004,181100,141.520004
143,3915,2025-11-28,386.679993,388.140015,386.359985,388.140015,85500,388.140015
144,2920,2025-11-28,116.250000,117.070000,116.250000,116.910004,8800,116.910004
145,2921,2025-11-28,98.910004,98.980003,98.300003,98.720001,90600,98.720001
146,2922,2025-11-28,103.839996,104.500000,103.669998,104.500000,452400,104.500000
147,2923,2025-11-28,124.269997,124.860001,124.059998,124.620003,26100,124.620003
148,3950,2025-11-28,102.139999,102.809998,102.139999,102.660004,21000,102.660004
149,3941,2025-11-28,125.410004,126.480003,125.379997,125.970001,146300,125.970001
150,198,2025-11-28,72.620003,73.199997,72.540001,72.980003,310400,72.980003
151,2924,2025-11-28,32.520000,32.770000,32.410000,32.770000,464400,32.770000
152,3993,2025-11-28,50.709999,50.740002,50.700001,50.730000,1554449,50.730000
153,3938,2025-11-28,26.260000,26.459999,26.235001,26.309999,1708727,26.309999
154,2925,2025-11-28,81.529999,81.889999,81.419998,81.860001,10300,81.860001
155,2926,2025-11-28,59.180000,59.320000,58.919998,58.980000,509000,58.980000
156,3942,2025-11-28,78.839996,79.699997,78.839996,79.320000,638500,79.320000
157,2927,2025-11-28,15.670000,15.670000,15.590000,15.640000,98400,15.640000
158,2928,2025-11-28,60.090000,60.320000,59.950001,60.009998,1256200,60.009998
159,3965,2025-11-28,33.990002,34.500000,33.990002,34.220001,15227,34.220001
160,3935,2025-11-28,63.200001,63.380001,62.880001,62.990002,6876100,62.990002
161,250,2025-11-28,37.320000,37.445801,37.282001,37.439999,148846,37.439999
162,3919,2025-11-28,37.500000,37.679901,37.360001,37.570000,10107498,37.570000
163,2929,2025-11-28,65.610001,66.029999,65.610001,65.970001,74700,65.970001
164,2930,2025-11-28,62.700001,63.529999,62.700001,63.459999,183400,63.459999
165,3975,2025-11-28,111.980003,112.019997,111.680000,111.860001,25471200,111.860001
166,214,2025-11-28,62.040001,62.310001,61.939999,62.200001,945100,62.200001
167,194,2025-11-28,603.539978,606.330017,602.400024,605.479980,804900,605.479980
168,3943,2025-11-28,72.839996,73.360001,72.839996,73.110001,20200,73.110001
169,3957,2025-11-28,3.400000,3.530000,3.400000,3.480000,1523413,3.480000
170,3977,2025-11-28,107.320000,107.500000,107.320000,107.430000,2748800,107.430000
171,225,2025-11-28,28.719999,29.129999,28.719999,28.930000,13900,28.930000
172,3932,2025-11-28,48.480000,48.605000,48.330002,48.540001,305409,48.540001
173,2931,2025-11-28,45.549999,45.630001,45.529999,45.630001,900,45.630001
174,3946,2025-11-28,31.090000,31.690001,30.870001,31.650000,173400,31.650000
175,2933,2025-11-28,58.599998,59.189999,58.560001,59.189999,39100,59.189999
176,3558,2025-11-28,58.599998,59.189999,58.560001,59.189999,39100,59.189999
177,3982,2025-11-28,30.969999,31.000000,30.879999,30.950001,1543800,30.950001
178,2934,2025-11-28,72.720001,72.800003,72.360001,72.389999,44500,72.389999
179,2935,2025-11-28,106.709999,106.709999,105.739998,106.169998,10000,106.169998
180,2936,2025-11-28,150.449997,151.309998,150.190002,151.309998,54300,151.309998
181,3954,2025-11-28,102.830002,103.160004,102.040001,102.510002,255100,102.510002
182,3967,2025-11-28,149.570007,153.000000,149.309998,152.589996,485800,152.589996
183,2937,2025-11-28,31.559999,31.620001,31.530001,31.620001,7300,31.620001
184,2938,2025-11-28,105.919998,105.919998,105.919998,105.919998,100,105.919998
185,2939,2025-11-28,46.049999,46.049999,45.590000,45.750000,6200,45.750000
186,247,2025-11-28,18.900000,18.910000,18.870001,18.879999,9599,18.879999
187,197,2025-11-28,616.109985,619.320007,615.419983,619.250000,23034400,619.250000
188,3937,2025-11-28,25.510000,25.690001,25.510000,25.660000,403648,25.660000
189,2940,2025-11-28,22.930000,23.010000,22.850000,22.910000,504700,22.910000
190,2941,2025-11-28,67.839996,68.389999,67.767601,68.330002,50655,68.330002
191,2942,2025-11-28,46.160000,46.459999,46.160000,46.450001,20700,46.450001
192,2943,2025-11-28,28.049999,28.200001,28.049999,28.160000,2100,28.160000
193,3903,2025-11-28,27.459999,27.639999,27.450001,27.590000,8406000,27.590000
194,3914,2025-11-28,77.169998,77.500000,77.000000,77.470001,678700,77.470001
195,3963,2025-11-28,40.000000,40.189999,39.900002,40.189999,3053600,40.189999
196,3978,2025-11-28,83.099998,83.110001,83.059998,83.080002,2799600,83.080002
197,3988,2025-11-28,43.110001,43.119900,43.060001,43.080002,1045288,43.080002
198,2945,2025-11-28,75.660004,77.879997,75.129997,77.660004,3002500,77.660004
199,3960,2025-11-28,49.669998,51.270000,49.580002,51.209999,41350000,51.209999
200,3029,2025-11-28,81.139999,81.389999,80.839996,80.860001,13600,80.860001
201,3925,2025-11-28,349.170013,352.570007,347.709991,352.279999,3352700,352.279999
202,3924,2025-11-28,293.250000,296.989990,291.829987,296.739990,3038000,296.739990
203,3931,2025-11-28,47.209999,47.209999,47.009998,47.110001,697388,47.110001
204,196,2025-11-28,680.859985,683.669983,680.500000,683.390015,49212000,683.390015
205,3911,2025-11-28,106.820000,107.040001,106.610001,107.040001,1212800,107.040001
206,2946,2025-11-28,48.610001,49.029999,48.220001,48.910000,573800,48.910000
207,203,2025-11-28,58.619999,59.040001,58.619999,59.040001,5200,59.040001
208,3976,2025-11-28,111.480003,111.519997,111.230003,111.260002,1830000,111.260002
209,3980,2025-11-28,90.459999,90.529999,89.949997,90.209999,40704300,90.209999
210,3779,2025-11-28,3.990000,4.036000,3.990000,4.017000,0,4.017000
211,217,2025-11-28,33.520000,33.520000,33.340000,33.500000,325300,33.500000
212,3969,2025-11-28,14.620000,14.870000,14.570000,14.730000,6018500,14.730000
213,2947,2025-11-28,45.070000,45.560001,44.849998,45.279999,2063100,45.279999
214,2970,2025-11-28,18.341640,18.378590,18.279301,18.329599,0,18.329599
215,3987,2025-11-28,37.639999,37.660000,37.610001,37.639999,10641628,37.639999
216,3962,2025-11-28,70.440002,71.300003,70.440002,71.070000,3363800,71.070000
217,3005,2025-11-28,28.270000,28.270000,28.180000,28.209999,1215800,28.209999
218,3989,2025-11-28,77.800003,77.889999,77.500000,77.720001,4994400,77.720001
219,3974,2025-11-28,80.089996,80.099998,80.010002,80.059998,1247000,80.059998
220,3908,2025-11-28,81.160004,81.550003,81.080002,81.529999,1305400,81.529999
221,3983,2025-11-28,47.330002,47.340000,47.259998,47.310001,759400,47.310001
222,216,2025-11-28,18.200001,18.340000,18.059999,18.340000,524000,18.340000
223,2948,2025-11-28,90.930000,91.599998,90.930000,91.339996,1627100,91.339996
224,2949,2025-11-28,47.590000,47.849998,47.580002,47.820000,75100,47.820000
225,2950,2025-11-28,189.979996,191.210007,189.899994,191.210007,136700,191.210007
226,3928,2025-11-28,90.620003,90.870003,90.519997,90.830002,201100,90.830002
227,3922,2025-11-28,143.009995,143.770004,142.899994,143.759995,74400,143.759995
228,3952,2025-11-28,33.689999,34.020000,33.680000,33.910000,323996,33.910000
229,2951,2025-11-28,70.050003,70.400002,70.050003,70.379997,8400,70.379997
230,2952,2025-11-28,109.279999,109.330002,108.529999,108.879997,922500,108.879997
231,2953,2025-11-28,89.010002,89.019997,88.690002,88.919998,7000,88.919998
232,2954,2025-11-28,89.129997,89.750000,88.910004,89.400002,2393400,89.400002
233,3916,2025-11-28,114.794998,115.389999,114.650002,115.389999,3730044,115.389999
234,2955,2025-11-28,89.330002,90.839996,89.199997,90.449997,8333300,90.449997
235,2956,2025-11-28,53.099998,53.549999,53.029999,53.330002,16136100,53.330002
236,2957,2025-11-28,153.059998,153.860001,152.770004,153.690002,3507600,153.690002
237,2958,2025-11-28,284.380005,286.269989,283.609985,286.220001,3396100,286.220001
238,2959,2025-11-28,78.800003,79.389999,78.800003,79.370003,8914300,79.370003
239,3927,2025-11-28,41.480000,41.785000,41.419998,41.669998,3771859,41.669998
240,2960,2025-11-28,90.139999,90.699997,90.050003,90.629997,3941300,90.629997
241,2961,2025-11-28,158.199997,158.250000,157.160004,157.649994,8559700,157.649994
242,2962,2025-11-28,235.539993,236.800003,235.539993,236.460007,2413600,236.460007
243,2963,2025-11-28,96.059998,97.250000,95.480003,97.089996,1767000,97.089996
244,2964,2025-11-28,84.690002,84.690002,84.029999,84.349998,2152500,84.349998
245,3022,2025-11-28,288.250000,318.500000,313.000000,317.500000,137,317.500000
246,3998,2025-11-28,10.195000,10.190000,10.055000,10.075000,285,10.075000

## Retry para agregar faltantes

In [68]:
for item in ['ERUS', 'RSX']:
    try:
        lista_manual.remove(item)
    except ValueError:
        pass

lista_manual

['CC=F', 'EGPT', 'EWGS', 'GRES', 'GXG', 'JJU', 'PBS', 'GLCN', 'DC=F', 'CSC=F']

In [69]:
# for i in range(0,1):
    #Procesamiento original
idx=lista_manual[-1]
#     display(idx.IdTicker)
n=0
#Intentos de descarga:
for n in range(retries):
    try:     #1er Intento
        #Usando funciones definidas
        last = downloading_yahoo(idx, fecha_inicial, fecha_final)
        #Agregar y esperar para debugging
        a_juntar.append(last)
        time.sleep(espera)
        break #EXITO, pasar a siguiente indice.
    except:   #Segundo intento en caso de falla
        print('Fallo con Ticker')
        time.sleep(espera)
        print('Entrando en modo de fallo')
#         if n == retries-1:
#             display(idx.IdTicker)
#             missing.append(idx.IdTicker)

Fallo con Ticker
Entrando en modo de fallo
Fallo con Ticker
Entrando en modo de fallo
Fallo con Ticker
Entrando en modo de fallo

## Escritura a la base de datos

Se escribe a TablaDatos y TablaDatos_BU hasta que se complete la migración

In [70]:
df_f

,IdIndiceEspecifico,DatoFecha,D_Open,D_High,D_Low,D_Close,D_Volume,D_OpenInterest
0,3006,2025-11-28,108.080002,110.680000,109.160004,110.410004,374,110.410004
1,2990,2025-11-28,23291.589844,23365.789062,23250.509766,23365.689453,4541070000,23365.689453
2,2986,2025-11-28,6822.520020,6850.859863,6819.750000,6849.089844,2558540000,6849.089844
3,3011,2025-11-28,423.000000,448.500000,443.500000,447.750000,78853,447.750000
4,3013,2025-11-28,58.580002,59.639999,58.270000,58.549999,138365,58.549999
5,3014,2025-11-28,64.230003,64.949997,64.419998,62.910000,12848,62.910000
6,3001,2025-11-28,99.540001,99.779999,99.324997,99.407997,13371,99.407997
7,3015,2025-11-28,4163.399902,4223.899902,4174.600098,4218.299805,149887,4218.299805
8,3016,2025-11-28,5.119500,5.215000,5.055000,5.185500,31863,5.185500
9,3017,2025-11-28,2.268400,2.351000,2.262400,2.333000,18362,2.333000
10,3018,2025-11-28,412.500000,368.200012,360.799988,364.000000,8481,364.000000
11,3019,2025-11-28,208.425003,219.074997,213.274994,217.850006,8755,217.850006
12,3020,2025-11-28,79.050003,82.275002,80.800003,80.599998,14617,80.599998
13,3021,2025-11-28,4.618000,4.871000,4.527000,4.850000,118167,4.850000
14,3023,2025-11-28,142.750000,158.149994,148.399994,156.050003,732,156.050003
15,3025,2025-11-28,1125.500000,1138.750000,1129.750000,1137.750000,33561,1137.750000
16,3026,2025-11-28,14.900000,14.820000,14.620000,14.730000,18982,14.730000
17,3027,2025-11-28,53.075001,57.244999,52.549999,57.162998,95722,57.162998
18,3028,2025-11-28,538.500000,532.250000,527.250000,531.000000,21887,531.000000
19,3933,2025-11-28,92.330002,92.730003,92.239998,92.660004,184700,92.660004
20,239,2025-11-28,92.120003,93.370003,91.400002,93.180000,211200,93.180000
21,3948,2025-11-28,49.320000,49.794998,49.099998,49.580002,170856,49.580002
22,3939,2025-11-28,31.000000,31.190001,30.650000,31.190001,1111756,31.190001
23,3921,2025-11-28,79.040001,79.800003,78.650002,79.680000,3346976,79.680000
24,3945,2025-11-28,151.399994,152.860001,151.375000,152.399994,52060,152.399994
25,3936,2025-11-28,32.459999,32.610001,32.474998,32.580002,3527382,32.580002
26,3995,2025-11-28,14.560000,14.580000,14.130000,14.200000,15863131,14.200000
27,2901,2025-11-28,42.220001,42.380001,42.080002,42.380001,1800,42.380001
28,3958,2025-11-28,62.000000,63.220001,61.863602,62.580002,249156,62.580002
29,3973,2025-11-28,74.860001,74.879997,74.709999,74.779999,4812100,74.779999
30,3971,2025-11-28,28.900000,29.250000,28.900000,29.170000,418300,29.170000
31,3944,2025-11-28,35.110001,35.256500,35.080002,35.169998,276307,35.169998
32,3530,2025-11-28,75.699997,76.320000,75.699997,76.099998,1200,76.099998
33,2902,2025-11-28,64.349998,64.489998,64.250000,64.480003,10600,64.480003
34,2903,2025-11-28,22.129999,22.190001,21.969999,22.090000,72000,22.090000
35,3929,2025-11-28,73.419998,73.790001,73.239998,73.650002,293896,73.650002
36,3972,2025-11-28,63.650002,64.580002,63.430000,64.300003,2151200,64.300003
37,215,2025-11-28,52.540001,52.700001,52.400002,52.619999,256800,52.619999
38,2904,2025-11-28,28.840000,28.950001,28.840000,28.950001,1000,28.950001
39,3990,2025-11-28,89.709999,90.620003,89.709999,90.570000,165500,90.570000
40,3964,2025-11-28,26.180000,26.430000,26.180000,26.420000,115800,26.420000
41,3961,2025-11-28,22.940001,23.090000,22.920000,23.059999,236100,23.059999
42,3970,2025-11-28,18.889999,19.040001,18.889999,19.040001,4300,19.040001
43,199,2025-11-28,95.629997,95.830002,95.559998,95.739998,1900,95.739998
44,195,2025-11-28,474.820007,477.609985,474.820007,477.179993,2281800,477.179993
45,3968,2025-11-28,37.740002,37.840000,37.490002,37.820000,28300,37.820000
46,3947,2025-11-28,29.219999,29.490000,29.219999,29.482201,35036,29.482201
47,242,2025-11-28,38.000000,38.040001,37.770000,37.860001,858600,37.860001
48,2905,2025-11-28,27.120001,27.219999,27.120001,27.180000,8200,27.180000
49,229,2025-11-28,111.150002,111.154999,110.724998,111.186996,3362,111.186996
50,255,2025-11-28,54.160000,54.369999,54.119999,54.320000,15057500,54.320000
51,3902,2025-11-28,94.839996,95.220001,94.739998,95.190002,8136000,95.190002
52,3920,2025-11-28,113.620003,114.099998,113.489998,114.050003,568400,114.050003
53,228,2025-11-28,45.430000,45.517899,45.517899,45.517899,579,45.517899
54,3909,2025-11-28,70.110001,70.309998,69.989998,70.269997,1450600,70.269997
55,202,2025-11-28,18.610001,18.680000,18.559999,18.670000,221700,18.670000
56,233,2025-11-28,72.160004,72.839996,72.160004,72.839996,1500,72.839996
57,249,2025-11-28,103.459999,103.860001,103.160004,103.760002,39800,103.760002
58,3984,2025-11-28,96.750000,96.800003,96.610001,96.730003,2628400,96.730003
59,3992,2025-11-28,25.549999,25.600000,25.549999,25.600000,1111900,25.600000
60,3951,2025-11-28,42.650002,42.791599,42.700001,42.730000,7687,42.730000
61,3940,2025-11-28,70.970001,71.209999,70.860001,71.180000,194556,71.180000
62,208,2025-11-28,45.470001,45.630001,45.060001,45.630001,3000,45.630001
63,209,2025-11-28,25.010000,25.230000,25.010000,25.209999,171400,25.209999
64,219,2025-11-28,33.889999,34.090000,33.799999,34.070000,116900,34.070000
65,243,2025-11-28,64.089996,64.959999,64.089996,64.470001,18500,64.470001
66,2906,2025-11-28,34.950001,35.020000,34.860001,35.000000,285700,35.000000
67,312,2025-11-28,1.160025,1.160672,1.155735,1.159985,0,1.159985
68,206,2025-11-28,25.760000,25.900000,25.750000,25.850000,1440600,25.850000
69,240,2025-11-28,52.450001,52.759998,52.340000,52.700001,910400,52.700001
70,218,2025-11-28,47.590000,48.000000,47.590000,47.910000,50400,47.910000
71,235,2025-11-28,40.740002,40.919998,40.700001,40.919998,1289400,40.919998
72,211,2025-11-28,22.180000,22.250000,22.160000,22.240000,1071800,22.240000
73,220,2025-11-28,52.639999,52.939999,52.639999,52.930000,176900,52.930000
74,201,2025-11-28,82.839996,83.040001,82.750000,83.010002,2711800,83.010002
75,231,2025-11-28,24.360001,24.360001,24.200001,24.280001,9000,24.280001
76,224,2025-11-28,57.529999,57.840000,57.430000,57.820000,256800,57.820000
77,210,2025-11-28,26.280001,26.459999,26.280001,26.430000,262300,26.430000
78,226,2025-11-28,57.779999,58.169998,57.689999,58.169998,10300,58.169998
79,232,2025-11-28,32.860001,33.000000,32.770000,33.000000,24900,33.000000
80,221,2025-11-28,51.400002,51.689999,51.380001,51.660000,694800,51.660000
81,2907,2025-11-28,44.400002,44.619999,44.320000,44.570000,85700,44.570000
82,205,2025-11-28,28.209999,28.430000,28.180000,28.389999,577600,28.389999
83,204,2025-11-28,64.370003,64.540001,64.120003,64.510002,4233300,64.510002
84,227,2025-11-28,43.040001,43.220001,43.009998,43.150002,718200,43.150002
85,236,2025-11-28,40.889999,41.099998,40.889999,41.099998,5492,41.099998
86,245,2025-11-28,67.599998,68.540001,67.290001,68.419998,543500,68.419998
87,207,2025-11-28,90.529999,91.010002,90.500000,90.870003,2704900,90.870003
88,241,2025-11-28,33.590000,33.669998,33.439999,33.610001,15012400,33.610001
89,244,2025-11-28,14.040000,14.180000,14.000000,14.160000,341400,14.160000
90,246,2025-11-28,67.000000,67.000000,66.449997,66.739998,260300,66.739998
91,3956,2025-11-28,71.870003,72.269997,71.800003,72.250000,48870,72.250000
92,2908,2025-11-28,268.320007,270.230011,268.299988,270.160004,523900,270.160004
93,3955,2025-11-28,30.230000,30.730000,30.200100,30.675900,27625,30.675900
94,3986,2025-11-28,51.040001,51.070000,51.040001,51.070000,963100,51.070000
95,3949,2025-11-28,21.770000,21.879999,21.770000,21.857300,27181,21.857300
96,3002,2025-11-28,127.169998,127.510002,127.169998,127.360001,3500,127.360001
97,3003,2025-11-28,106.820000,107.099998,106.800003,107.089996,48700,107.089996
98,213,2025-11-28,39.430000,39.619999,39.410000,39.529999,11699800,39.529999
99,3004,2025-11-28,58.860001,58.970001,58.820000,58.919998,193400,58.919998
100,2965,2025-11-28,1.324135,1.325082,1.320184,1.324118,0,1.324118
101,2909,2025-11-28,82.260002,83.279999,81.769997,83.230003,15906800,83.230003
102,2910,2025-11-28,71.330002,71.820000,71.250000,71.820000,13100,71.820000
103,3966,2025-11-28,183.940002,186.490005,183.559998,186.490005,148600,186.490005
104,2911,2025-11-28,60.910000,61.230000,60.820000,61.060001,66400,61.060001
105,223,2025-11-28,65.639999,65.639999,64.559998,65.320000,113100,65.320000
106,212,2025-11-28,99.239998,99.690002,99.239998,99.570000,3300,99.570000
107,3557,2025-11-28,17.719999,17.870001,17.580000,17.629999,4331500,17.629999
108,3991,2025-11-28,51.180000,51.180000,51.070000,51.099998,246200,51.099998
109,3985,2025-11-28,81.000000,81.070000,80.940002,80.989998,29430800,80.989998
110,2913,2025-11-28,175.250000,176.559998,175.160004,175.770004,19400,175.770004
111,3959,2025-11-28,79.050003,79.419998,78.839996,79.410004,6228400,79.410004
112,2914,2025-11-28,174.139999,174.399994,172.839996,173.830002,1007100,173.830002
113,3981,2025-11-28,97.629997,97.650002,97.389999,97.500000,7798000,97.500000
114,252,2025-11-28,66.690002,67.080002,66.690002,66.989998,117500,66.989998
115,3934,2025-11-28,62.709999,63.119999,62.610001,63.060001,248700,63.060001
116,3994,2025-11-28,51.700001,51.730000,51.490002,51.619999,1195600,51.619999
117,3979,2025-11-28,53.139999,53.150002,53.090000,53.110001,1180800,53.110001
118,2915,2025-11-28,103.250000,104.169998,103.209999,104.089996,2751100,104.089996
119,2916,2025-11-28,64.290001,64.470001,64.120003,64.360001,283900,64.360001
120,3923,2025-11-28,131.729996,132.210007,131.479996,131.990005,45800,131.990005
121,3926,2025-11-28,97.150002,97.440002,96.830002,97.370003,54000,97.370003
122,3899,2025-11-28,120.970001,121.080002,120.559998,120.870003,2617800,120.870003
123,3918,2025-11-28,113.440002,113.470001,113.010002,113.360001,79300,113.360001
124,3930,2025-11-28,143.360001,143.360001,142.630005,143.080002,31100,143.080002
125,254,2025-11-28,31.049999,31.230000,30.950001,31.150000,1194000,31.150000
126,2917,2025-11-28,65.150002,65.570000,65.150002,65.500000,12600,65.500000
127,200,2025-11-28,54.610001,54.830002,54.555000,54.709999,3992690,54.709999
128,3953,2025-11-28,51.689999,52.365002,51.811298,52.219799,5941,52.219799
129,2918,2025-11-28,204.169998,205.179993,203.539993,205.100006,135800,205.100006
130,2919,2025-11-28,104.099998,104.120003,103.440002,103.910004,676600,103.910004
131,248,2025-11-28,55.389999,55.839298,55.839298,55.839298,696,55.839298
132,3907,2025-11-28,211.149994,212.419998,211.070007,212.419998,313400,212.419998
133,3904,2025-11-28,123.300003,123.610001,123.120003,123.610001,1328900,123.610001
134,3905,2025-11-28,373.029999,374.640015,372.859985,374.440002,1007800,374.440002
135,3901,2025-11-28,208.940002,210.179993,208.710007,209.979996,4427200,209.979996
136,3900,2025-11-28,475.190002,476.649994,474.320007,476.450012,1148700,476.450012
137,193,2025-11-28,248.009995,248.809998,247.070007,248.750000,18911800,248.750000
138,3912,2025-11-28,181.740005,182.309998,181.300003,182.229996,350800,182.229996
139,3917,2025-11-28,327.140015,328.390015,325.799988,328.119995,207600,328.119995
140,3913,2025-11-28,138.419998,139.250000,138.050003,138.800003,492500,138.800003
141,3906,2025-11-28,96.629997,97.180000,96.470001,96.949997,1440800,96.949997
142,3910,2025-11-28,141.250000,141.960007,141.000000,141.520004,181100,141.520004
143,3915,2025-11-28,386.679993,388.140015,386.359985,388.140015,85500,388.140015
144,2920,2025-11-28,116.250000,117.070000,116.250000,116.910004,8800,116.910004
145,2921,2025-11-28,98.910004,98.980003,98.300003,98.720001,90600,98.720001
146,2922,2025-11-28,103.839996,104.500000,103.669998,104.500000,452400,104.500000
147,2923,2025-11-28,124.269997,124.860001,124.059998,124.620003,26100,124.620003
148,3950,2025-11-28,102.139999,102.809998,102.139999,102.660004,21000,102.660004
149,3941,2025-11-28,125.410004,126.480003,125.379997,125.970001,146300,125.970001
150,198,2025-11-28,72.620003,73.199997,72.540001,72.980003,310400,72.980003
151,2924,2025-11-28,32.520000,32.770000,32.410000,32.770000,464400,32.770000
152,3993,2025-11-28,50.709999,50.740002,50.700001,50.730000,1554449,50.730000
153,3938,2025-11-28,26.260000,26.459999,26.235001,26.309999,1708727,26.309999
154,2925,2025-11-28,81.529999,81.889999,81.419998,81.860001,10300,81.860001
155,2926,2025-11-28,59.180000,59.320000,58.919998,58.980000,509000,58.980000
156,3942,2025-11-28,78.839996,79.699997,78.839996,79.320000,638500,79.320000
157,2927,2025-11-28,15.670000,15.670000,15.590000,15.640000,98400,15.640000
158,2928,2025-11-28,60.090000,60.320000,59.950001,60.009998,1256200,60.009998
159,3965,2025-11-28,33.990002,34.500000,33.990002,34.220001,15227,34.220001
160,3935,2025-11-28,63.200001,63.380001,62.880001,62.990002,6876100,62.990002
161,250,2025-11-28,37.320000,37.445801,37.282001,37.439999,148846,37.439999
162,3919,2025-11-28,37.500000,37.679901,37.360001,37.570000,10107498,37.570000
163,2929,2025-11-28,65.610001,66.029999,65.610001,65.970001,74700,65.970001
164,2930,2025-11-28,62.700001,63.529999,62.700001,63.459999,183400,63.459999
165,3975,2025-11-28,111.980003,112.019997,111.680000,111.860001,25471200,111.860001
166,214,2025-11-28,62.040001,62.310001,61.939999,62.200001,945100,62.200001
167,194,2025-11-28,603.539978,606.330017,602.400024,605.479980,804900,605.479980
168,3943,2025-11-28,72.839996,73.360001,72.839996,73.110001,20200,73.110001
169,3957,2025-11-28,3.400000,3.530000,3.400000,3.480000,1523413,3.480000
170,3977,2025-11-28,107.320000,107.500000,107.320000,107.430000,2748800,107.430000
171,225,2025-11-28,28.719999,29.129999,28.719999,28.930000,13900,28.930000
172,3932,2025-11-28,48.480000,48.605000,48.330002,48.540001,305409,48.540001
173,2931,2025-11-28,45.549999,45.630001,45.529999,45.630001,900,45.630001
174,3946,2025-11-28,31.090000,31.690001,30.870001,31.650000,173400,31.650000
175,2933,2025-11-28,58.599998,59.189999,58.560001,59.189999,39100,59.189999
176,3558,2025-11-28,58.599998,59.189999,58.560001,59.189999,39100,59.189999
177,3982,2025-11-28,30.969999,31.000000,30.879999,30.950001,1543800,30.950001
178,2934,2025-11-28,72.720001,72.800003,72.360001,72.389999,44500,72.389999
179,2935,2025-11-28,106.709999,106.709999,105.739998,106.169998,10000,106.169998
180,2936,2025-11-28,150.449997,151.309998,150.190002,151.309998,54300,151.309998
181,3954,2025-11-28,102.830002,103.160004,102.040001,102.510002,255100,102.510002
182,3967,2025-11-28,149.570007,153.000000,149.309998,152.589996,485800,152.589996
183,2937,2025-11-28,31.559999,31.620001,31.530001,31.620001,7300,31.620001
184,2938,2025-11-28,105.919998,105.919998,105.919998,105.919998,100,105.919998
185,2939,2025-11-28,46.049999,46.049999,45.590000,45.750000,6200,45.750000
186,247,2025-11-28,18.900000,18.910000,18.870001,18.879999,9599,18.879999
187,197,2025-11-28,616.109985,619.320007,615.419983,619.250000,23034400,619.250000
188,3937,2025-11-28,25.510000,25.690001,25.510000,25.660000,403648,25.660000
189,2940,2025-11-28,22.930000,23.010000,22.850000,22.910000,504700,22.910000
190,2941,2025-11-28,67.839996,68.389999,67.767601,68.330002,50655,68.330002
191,2942,2025-11-28,46.160000,46.459999,46.160000,46.450001,20700,46.450001
192,2943,2025-11-28,28.049999,28.200001,28.049999,28.160000,2100,28.160000
193,3903,2025-11-28,27.459999,27.639999,27.450001,27.590000,8406000,27.590000
194,3914,2025-11-28,77.169998,77.500000,77.000000,77.470001,678700,77.470001
195,3963,2025-11-28,40.000000,40.189999,39.900002,40.189999,3053600,40.189999
196,3978,2025-11-28,83.099998,83.110001,83.059998,83.080002,2799600,83.080002
197,3988,2025-11-28,43.110001,43.119900,43.060001,43.080002,1045288,43.080002
198,2945,2025-11-28,75.660004,77.879997,75.129997,77.660004,3002500,77.660004
199,3960,2025-11-28,49.669998,51.270000,49.580002,51.209999,41350000,51.209999
200,3029,2025-11-28,81.139999,81.389999,80.839996,80.860001,13600,80.860001
201,3925,2025-11-28,349.170013,352.570007,347.709991,352.279999,3352700,352.279999
202,3924,2025-11-28,293.250000,296.989990,291.829987,296.739990,3038000,296.739990
203,3931,2025-11-28,47.209999,47.209999,47.009998,47.110001,697388,47.110001
204,196,2025-11-28,680.859985,683.669983,680.500000,683.390015,49212000,683.390015
205,3911,2025-11-28,106.820000,107.040001,106.610001,107.040001,1212800,107.040001
206,2946,2025-11-28,48.610001,49.029999,48.220001,48.910000,573800,48.910000
207,203,2025-11-28,58.619999,59.040001,58.619999,59.040001,5200,59.040001
208,3976,2025-11-28,111.480003,111.519997,111.230003,111.260002,1830000,111.260002
209,3980,2025-11-28,90.459999,90.529999,89.949997,90.209999,40704300,90.209999
210,3779,2025-11-28,3.990000,4.036000,3.990000,4.017000,0,4.017000
211,217,2025-11-28,33.520000,33.520000,33.340000,33.500000,325300,33.500000
212,3969,2025-11-28,14.620000,14.870000,14.570000,14.730000,6018500,14.730000
213,2947,2025-11-28,45.070000,45.560001,44.849998,45.279999,2063100,45.279999
214,2970,2025-11-28,18.341640,18.378590,18.279301,18.329599,0,18.329599
215,3987,2025-11-28,37.639999,37.660000,37.610001,37.639999,10641628,37.639999
216,3962,2025-11-28,70.440002,71.300003,70.440002,71.070000,3363800,71.070000
217,3005,2025-11-28,28.270000,28.270000,28.180000,28.209999,1215800,28.209999
218,3989,2025-11-28,77.800003,77.889999,77.500000,77.720001,4994400,77.720001
219,3974,2025-11-28,80.089996,80.099998,80.010002,80.059998,1247000,80.059998
220,3908,2025-11-28,81.160004,81.550003,81.080002,81.529999,1305400,81.529999
221,3983,2025-11-28,47.330002,47.340000,47.259998,47.310001,759400,47.310001
222,216,2025-11-28,18.200001,18.340000,18.059999,18.340000,524000,18.340000
223,2948,2025-11-28,90.930000,91.599998,90.930000,91.339996,1627100,91.339996
224,2949,2025-11-28,47.590000,47.849998,47.580002,47.820000,75100,47.820000
225,2950,2025-11-28,189.979996,191.210007,189.899994,191.210007,136700,191.210007
226,3928,2025-11-28,90.620003,90.870003,90.519997,90.830002,201100,90.830002
227,3922,2025-11-28,143.009995,143.770004,142.899994,143.759995,74400,143.759995
228,3952,2025-11-28,33.689999,34.020000,33.680000,33.910000,323996,33.910000
229,2951,2025-11-28,70.050003,70.400002,70.050003,70.379997,8400,70.379997
230,2952,2025-11-28,109.279999,109.330002,108.529999,108.879997,922500,108.879997
231,2953,2025-11-28,89.010002,89.019997,88.690002,88.919998,7000,88.919998
232,2954,2025-11-28,89.129997,89.750000,88.910004,89.400002,2393400,89.400002
233,3916,2025-11-28,114.794998,115.389999,114.650002,115.389999,3730044,115.389999
234,2955,2025-11-28,89.330002,90.839996,89.199997,90.449997,8333300,90.449997
235,2956,2025-11-28,53.099998,53.549999,53.029999,53.330002,16136100,53.330002
236,2957,2025-11-28,153.059998,153.860001,152.770004,153.690002,3507600,153.690002
237,2958,2025-11-28,284.380005,286.269989,283.609985,286.220001,3396100,286.220001
238,2959,2025-11-28,78.800003,79.389999,78.800003,79.370003,8914300,79.370003
239,3927,2025-11-28,41.480000,41.785000,41.419998,41.669998,3771859,41.669998
240,2960,2025-11-28,90.139999,90.699997,90.050003,90.629997,3941300,90.629997
241,2961,2025-11-28,158.199997,158.250000,157.160004,157.649994,8559700,157.649994
242,2962,2025-11-28,235.539993,236.800003,235.539993,236.460007,2413600,236.460007
243,2963,2025-11-28,96.059998,97.250000,95.480003,97.089996,1767000,97.089996
244,2964,2025-11-28,84.690002,84.690002,84.029999,84.349998,2152500,84.349998
245,3022,2025-11-28,288.250000,318.500000,313.000000,317.500000,137,317.500000
246,3998,2025-11-28,10.195000,10.190000,10.055000,10.075000,285,10.075000

In [71]:
#write2db(df_f,'TablaDatos')
df_f.to_excel('FinancialMarketsBU.xlsx',index=False)